<nav class="navbar navbar-expand-lg navbar-light filter-menu">
  <div class="navbar-head">
  <h6 class="navbar-brand d-none d-lg-flex">FILTER:</h6>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <h6 class="navbar-brand">FILTER:</h6>
    <span class="toggler-icon"></span>
  </button>
</div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

{% if template contains 'collection' and collection.all_tags.size > 1 %}
  <!-- A recursive loop to catch and filter out the different tag categories -->
  {% assign c = 0 %} 
  {% for t in collection.all_tags %}
  {% capture cat %}{{ cat }}{% capture temp_cat %}{% if t contains '_' %}{% assign cat_grp = t | split: '_' %}{{ cat_grp.first }}{% endif %}{% endcapture %}{% unless cat contains temp_cat %}{% if t contains '_' %}{% assign new_cat_grp = t | split: '_' %}{{ new_cat_grp.first }}{% endif %}{% unless forloop.last %}+{% endunless %}{% assign c = c | plus: 1 %}{% endunless %}{% endcapture %}
  {% endfor %}
  
  <!-- create array of tag categories -->
  {% assign cat_array = cat | split: '+' %}
  
  <!-- loop through tag categories -->  
  {% for i in cat_array %}
  <!-- ignore if tag category is empty -->  
  {% unless i == '' %}

<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ i }} <i class="fa fa-angle-down" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <!-- loop through collection tags -->  
          {% for t in collection.all_tags %}
          <!-- if tag contains the category title -->
          {% if t contains i %}
          <!-- strip out tag category prefix and add/remove link for tag filtering -->
          {% if current_tags contains t %}
          <li>{{ t | remove: i | remove: '_' | append: '&nbsp;x' | link_to_remove_tag: t }}</li>
          {% else %}
          <li>{{ t | remove: i | remove: '_' | link_to_add_tag: t }}</li>
          {% endif %}
          {% endif %}
          {% endfor %}
        </ul>
      </li>


  
  {% endunless %}
  {% endfor %}
  {% endif %}


    </ul>
  </div>
</nav>