{% comment %}
    Renders a list of product's price (regular, sale, unit)
    Accepts:
    - variant: {Object} Variant Liquid object (optional)
    - product: {Object} Product Liquid object (optional)
    - show_vendor: {Boolean} Show the product's vendor depending on the section setting (optional)

    Usage:
    {% include 'product-price', variant: current_variant, product: product %}
{% endcomment %}
{% if variant.title %}
  {%- assign compare_at_price = variant.compare_at_price -%}
  {%- assign price = variant.price -%}
  {%- assign available = variant.available -%}
{% else %}
  {%- assign compare_at_price = 1999 -%}
  {%- assign price = 1999 -%}
  {%- assign available = true -%}
{% endif %}

{%- assign money_price = product.price_min | money -%}

<dl class="price
  {% if available == false %} price--sold-out {% endif %}
  {% if available and compare_at_price > price %} price--on-sale {% endif %}
  {% if available and variant.unit_price_measurement %} price--unit-available {% endif %}"
  data-price
>
  <div class="price__regular">
    <dd>
      <span class="price-item price-item--regular" data-regular-price id="product-price">
        {{ money_price }}
      </span>
    </dd>
  </div>
</dl>
