<!-- ADDED BY S -->
<div class="slider slider-single">
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
  {%- assign image = featured_image -%}
  {%- assign image_widths = '295,394,590,700,800,1000,1200,1500,1800,2000,2400' -%}
  {%- assign featured_image_id = featured_image.id -%}
  {%- for image in product.images -%}
  <div data-image-id="{{ image.id }}" class="xzoom"  >
    <img class="{{ image_gallery_class }} featured-image zoom-image featured-image--{{ section.id }}"
    id="bigimage"
    src="{{ image | img_url: '750x',format: 'jpg'  }}"
    data-zoom-image="{{ image | img_url: '1800x',format: 'jpg'  }}"
    alt="{{ image.alt | escape }}">
  </div>
  {%- endfor -%}  
</div>
{%- if product.images.size > 1 -%}
<div class="slider slider-nav">
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
  {%- assign image = featured_image -%}
  {%- assign image_widths = '295,394,590,700,800,1000,1200,1500,1800,2000,2400' -%}
  {%- assign featured_image_id = featured_image.id -%}
  {%- for image in product.images -%}
      {%- assign image_widths = '295,394,590,700,800,1000,1200,1500,1800,2000,2400' -%}
          <div class="image-inner">
            <img class="{{ image_gallery_class }}" src="{{ image | img_url: '100x',format: 'pjpg'  }}" alt="{{ image.alt | escape }}">
         </div>
  {%- endfor -%}
</div>
{%- endif -%}
<!-- ENDED BY S --> 