<!-- /snippets/social-sharing.liquid -->
<ul lass="sidebar__inner">
  <li>
    <a target="_blank" class="facebook" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}">
      <i class="fab fa-facebook-f"></i> Share 
    </a>
  </li>
  <li>
    <a target="_blank" class="twitter" href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}" ><i class="fab fa-twitter"></i> Tweet</a>
  </li>
  <li><a target="_blank" class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ shop.url | append: share_permalink }}&title={{ share_title | url_param_escape }}
"><i class="fab fa-linkedin-in"></i> Share</a></li>
  <li>
    <a target="_blank" class="pinterest" href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}" ><i class="fab fa-pinterest-p"></i> Pin </a>
  </li>
</ul>
