<!-- /templates/customers/login.liquid -->
<div class="login-template">
  <div class="container-fluid">
    <div class="row justify-content-center">
      
      <div class="col-lg-5">
        <div class="login-template__column" >
          <div class="form-heading">
            <h3>
               BACK AGAIN?
            </h3>
            <p>If you've already got an account, please sign in</br>
            below for quick and easy checkout.</p>
          </div>
          <div class="form-content" id="login_form">
            {%- form 'customer_login' -%}
              {{ form.errors | default_errors }}

              <div class="form-group">
                <label for="customerEmail">Email </label>
                <input type="email"
                  name="customer[email]"
                  id="customerEmail"
                  autocorrect="off"
                  autocapitalize="off"
                  autocomplete="email">
              </div>
              <div class="form-group">
                <label for="customerPassword">Password</label>
                <input type="password"
                  name="customer[password]"
                  id="customerPassword" class="pass">
              </div>

              <input type="submit" value="Sign In" class="submit-button" />

              <p>
                <a href="#recover" id="forgot-password" class="forgot-pass-link">Forgot your password?</a>
              </p>

            {%- endform -%}
            </div>

            <!-- If accounts are set as optional, the following will be shown as an option when coming from checkout, not on the default /login page. -->
            {%- if shop.checkout.guest_login -%}
              {%- form 'guest_login' -%}
                <input type="submit" value="Continue as Guest" />
              {%- endform -%}
            {%- endif -%}
         
            <div id="recover-password" class="form-content" style='display:none'>

              <!-- Use JavaScript to show/hide this form -->
              {%- form 'recover_customer_password' -%}

                {%- if form.posted_successfully? -%}
                {% assign reset_success = true %}
                  <div class="alert alert-success" role="alert">
                    <p>We've sent you an email with a link to update your password.</p>
                  </div>
                {%- endif -%}

                <div id="recover-pass">

                  {{ form.errors | default_errors }}
                  <div class="form-group">
                  <label for="customerEmail">Email </label>
                  <input type="email"
                    name="email"
                    id="customerEmail"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email">
                  </div>

                  <input type="submit" class="submit-button" value="Submit">
                </div>
                 <p>
                  <a href="javascript:;" id="back-login" class="forgot-pass-link">Back To Login</a>
                </p>

              {%- endform -%}
            </div>

        </div>
      </div>
      <div class="col-lg-5">
        <div class="login-template__column">
          <div class="form-heading">
            <h3>
              {{ 'FIRST TIME?' | customer_register_link }}
            </h3>
            <p>No account? No problem. Head straight to</br>
              checkout or register a new account.</p>
          </div>
          <!-- REGISTER FORM START HERE -->
          <div class="form-content">
          {% form 'create_customer' %} 
          <input type="hidden" name="return_to" value="/account">
          {{ form.errors | default_errors }}

          <div class="form-group form-group--column-left">
          <label for="first_name">First Name</label>
          <input type="text" value="" name="customer[first_name]" size="30" placeholder="Type your first name here"/>
          </div>

          <div class="form-group form-group--column-right">
          <label for="last_name">Last Name</label>
          <input type="text" value="" name="customer[last_name]" size="30"  placeholder="Type your last name here" />
          </div>

          <div class="form-group">
            <label for="email">Email </label>
            <input type="email" value="" name="customer[email]" size="30" />
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" value="" name="customer[password]" size="30" class="pass" />
          </div>

          <div class="form-group">
            <label for="Confirm password">Confirm Password</label>
            <input type="password" value="" name="customer[password_confirmation]" id="password-confirm" class="pass"/>
          </div>

          <input type="submit" value="CREATE A NEW ACCOUNT" class="submit-button submit-button--blue" />

          {% endform %} 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function showRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'block';
    document.getElementById('login_form').style.display='none';
    return false;
  }

  function hideRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'none';
    document.getElementById('login_form').style.display = 'block';
    return false;
  }

  if (window.location.hash == '#recover') { showRecoverPasswordForm() }

  // reset_success is only true when the reset form is
  {% if reset_success %}
    showRecoverPasswordForm();
  {% endif %}
</script>