<!doctype html>
<html>
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <link type="text/css" rel="stylesheet" href="https://fast.fonts.net/cssapi/fa3f363e-5b20-4145-96f4-bf5a22b7be8d.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-4-grid@3.4.0/css/grid.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
  <link rel="canonical" href="{{ canonical_url }}">
<!--   <link href="https://db.onlinewebfonts.com/c/e033e2102fee59650a53fb6ed4033c16?family=Neuzeit+Grotesk" rel="stylesheet" type="text/css"/>
 -->  
  <!-- ADDED BY S -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <!-- END BY S -->
  {{ content_for_header }} <!-- Header hook for plugins -->
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ 'layout.css' | asset_url | stylesheet_tag }}
  {{ 'style.scss.css' | asset_url | stylesheet_tag }}
  {{ 'ajax-cart.css' | asset_url | stylesheet_tag }}
  <!-- JQUERY -->
  {{ 'jquery-3.4.0.min.js' | asset_url | script_tag }}
  {{ 'popper.min.js' | asset_url | script_tag }}
  {{ 'bootstrap.min.js' | asset_url | script_tag }}
  {{ 'swiper.min.js' | asset_url | script_tag }}
  {{ 'slick.min.js' | asset_url | script_tag }}
  {{ 'ajaxinate.min.js' | asset_url | script_tag }}
  {{ 'jquery.mixitup.min.js' | asset_url | script_tag }}
  {{ 'jquery.elevatezoom.js' | asset_url | script_tag }}
  {{ 'theia-sticky-sidebar.js' | asset_url | script_tag }}
  {{ 'theme.js' | asset_url | script_tag }}
<script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=RMiGzd"></script>
</head>
<body id="{{ page_title | handleize }}-page" class="{{ template }}-template{% if template == "product" %} {{ product.handle }}-product{% endif %}{% if template == "collection" %} {{ collection.handle }}-collection{% endif %}">
  {% section 'header' %}
 
  <main class="main" role="main">
      {{ content_for_layout }}
  </main>
  {% section 'footer' %}
  {% if template contains 'product' %} 
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
   <script type="text/javascript">
    jQuery(document).ready(function() {
       var onVariantSelected = function(variant, selector) {
        var formattedPrice = Shopify.formatMoney(variant.price, "");
        jQuery('#product-price').text(formattedPrice);
        jQuery('#AddToCart').attr('disabled', variant.available ? null : 'disabled');
        console.log(variant.available);
        if(variant.available == false){ jQuery('#out-stock').text("Out Of Stock"); }else{ jQuery('#out-stock').text(""); }
      };
      var optionSelectors = new Shopify.OptionSelectors("variant-select", { product: {{ product | json }}, onVariantSelected: onVariantSelected, enableHistoryState: true });
      // Create an event listener to set a specific variant when clicking on image thumbnails.
      jQuery(document).on('click', '[data-change-variant]', function(e) {
        e.preventDefault();
        optionSelectors.selectVariant(jQuery(this).data('changeVariant'));
      });
    });
  </script>
{% endif %}
{{ 'ajax-cart.js' | asset_url | script_tag }}
</body>
</html>