<div class="about-page">
  <div class="conatct-banner" style="background: url({{ section.settings.about_header_image | img_url: '2024x' }}) no-repeat top center;">
    <h1>{{ section.settings.about_page_title }}</h1>
  </div>

  <div class="about-content">
    <div class="container-fluid">

      <div class="about-content__head">
        <div class="left-breadcrumb">
          {% include 'breadcumb' %}
        </div>
        <div class="about-content__title">
          <h2>{{ section.settings.about_content_title }}</h2>
        </div>
      </div>

      <div class="media-content">
        <div class="row">
          <div class="media-content__img col-lg-6" style="background: url({{ section.settings.about_media_content_image | img_url: '2024x' }}) no-repeat top center;">
          </div>
          <div class="media-content__info col-lg-6">
            <h3>{{ section.settings.about_media_content_title_1 }}</h3>
            <p>{{ section.settings.about_media_content_1 }}</p>
            <h4>{{ section.settings.about_media_content_title_2 }}</h3>
            <p>{{ section.settings.about_media_content_2 }}</p>
          </div>
        </div>
      </div>

      <div class="media-column">
        <div class="media-column__img" style="background: url({{ section.settings.media_coloum_full_image | img_url: '2024x' }});"></div>
      </div>

      <div class="media-content media-content--right">
        <div class="row">
          <div class="media-content__img col-lg-6" style="background: url({{ section.settings.media_coloum_image | img_url: '2024x' }}) no-repeat top center;">
          </div>
          <div class="media-content__info col-lg-6">
            <h3>{{ section.settings.media_coloum_title }}</h3>
            {{ section.settings.media_coloum_content }}
          </div>
        </div>
      </div>

      <div class="about-content-block">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="about-content-block__title">{{ section.settings.heritage_title }}</h1>
          </div>
          <div class="col-lg-6">
            <img alt="" src="{{ section.settings.heritage_image | img_url: '2024x' }}" class="img-fluid">
            {{ section.settings.heritage_content }}
            {% for block in section.blocks %}
                {% if block.type == 'heritage-and-history-l' %}
                    <h2>{{ block.settings.left_content_title }}</h2>
                    <p>{{ block.settings.left_content }}</p>
                {% endif %}
            {% endfor %}
          </div>
          <div class="col-lg-6">
            {% for block in section.blocks %}
                {% if block.type == 'heritage-and-history-r' %}
                    <h2>{{ block.settings.right_content_title }}</h2>
                    <p>{{ block.settings.right_content }}</p>
                {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

    </div>
  </div>
<div>
{% schema %}
  {
	"name": "About Page",
	"class": "about_page",
	"settings": [
        {
            "type": "image_picker",
            "id": "about_header_image",
            "label": "Header Image"
        },
        {
            "type": "text",
            "id": "about_page_title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "about_content_title",
            "label": "Content Title"
        },
        {
            "type": "image_picker",
            "id": "about_media_content_image",
            "label": "Media Content Image"
        },
        {
            "type": "text",
            "id": "about_media_content_title_1",
            "label": "Media Content Title 1"
        },
        {
            "type":"textarea",
            "id": "about_media_content_1",
            "label": "Media Content 1"
        },
        {
            "type": "text",
            "id": "about_media_content_title_2",
            "label": "Media Content Title 2"
        },
        {
            "type":"textarea",
            "id": "about_media_content_2",
            "label": "Media Content 2"
        },
        {
            "type": "image_picker",
            "id": "media_coloum_full_image",
            "label": "Full Width Content Image"
        },
        {
            "type": "image_picker",
            "id": "media_coloum_image",
            "label": "Content Image"
        },
        {
            "type": "text",
            "id": "media_coloum_title",
            "label": "Coloum Content Title"
        },
        {
            "type":"textarea",
            "id": "media_coloum_content",
            "label": "Coloum Content"
        },
        {
            "type": "text",
            "id": "heritage_title",
            "label": "Heritage and History Title"
        },
        {
            "type": "image_picker",
            "id": "heritage_image",
            "label": "Heritage and History Image"
        },
        {
            "type":"textarea",
            "id": "heritage_content",
            "label": "Heritage Content"
        }
	],
    "blocks": [
    		{
    			"type": "heritage-and-history-l",
    			"name": "Left Content",
    			"settings": [
                  {
                    "type": "text",
                    "id": "left_content_title",
                    "label": "Title"
                  },
                  {
                    "type": "textarea",
                    "id": "left_content",
                    "label": "Content"
                  }
    			]
    		},
            {
    			"type": "heritage-and-history-r",
    			"name": "Right Content",
    			"settings": [
                  {
                    "type": "text",
                    "id": "right_content_title",
                    "label": "Title"
                  },
                  {
                    "type": "textarea",
                    "id": "right_content",
                    "label": "Content"
                  }
    			]
    		}
	]
  }
{% endschema %}