
<div class="blog-inner">

{% assign number_of_comments = article.comments_count %}
{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count %}
{% endif %}

<div class="conatct-banner" style="background: url({{ section.settings.artical_header_image | img_url: '2024x' }}) no-repeat top center;">
    <h1>{{ article.title }}</h1>
  </div>

{% comment %}
{% capture author %}<strong>{{ article.author }}</strong>{% endcapture %}
{% capture date %}<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>{% endcapture %}
{{ article.author }} @ {{ article.created_at }}
{% endcomment %}

<div class="blog-inner-content">
  <div class="blog-inner-content__head">
    <div class="left-breadcrumb">
       {% include 'breadcumb' %}
    </div>
    <div class="pagination-box">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="{{ blog.previous_article }}"><i class="fa fa-angle-left" aria-hidden="true"></i> Previous POST</a></li>
          <li class="page-item"><a class="page-link" href="{{ blog.next_article }}">Next POST <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="post-view col-12 col-lg-9 offset-lg-3">
        <div class="row">
          <div class="post-content col-12 col-lg-8">
            <div class="blog-inner__content">{{ article.content }}</div>
          </div>
          <div class="stick-social col-12 col-lg-4">
            <div class="social-link" id="social-link">
              {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% if blog.comments_enabled? %}
  <h2>{{ number_of_comments }} comments</h2>
  {% paginate article.comments by 5 %}
    {% for comment in article.comments %}
      <div>
        <div>{{ comment.content }}</div>
        {{ comment.author }} @ {{ comment.created_at }}
      </div>
    {% endfor %}
    {% if paginate.pages > 1 %}
      {{ paginate | default_pagination }}
    {% endif %}
  {% endpaginate %}

  <div>
    {% form 'new_comment', article %}
      {{ form.errors | default_errors }}
      <label for="CommentAuthor">name</label>
      <input type="text" name="comment[author]" id="CommentAuthor" placeholder="name" value="{{ form.author }}" autocapitalize="words">

      <label for="CommentEmail">email</label>
      <input type="email" name="comment[email]" id="CommentEmail" placeholder="email" value="{{ form.email }}" autocorrect="off" autocapitalize="off">

      <label for="CommentBody">message</label>
      <textarea name="comment[body]" id="CommentBody" placeholder="message">{{ form.body }}</textarea>

      <input type="submit" value="post">
    {% endform %}
  </div>
{% endif %}

</div>

{% schema %}
  {
  "name": "Artical Page",
  "class": "artical_page",
  "settings": [
    {
    "type": "image_picker",
    "id": "artical_header_image",
    "label": "Artical Image"
    }
  ]
  }
{% endschema %}
