<div class="conatct-page">
  <div class="conatct-banner" style="background: url({{ section.settings.blog_header_image | img_url: '2024x' }}) no-repeat top center;">
    <h1>{{ section.settings.blog_page_title }}</h1>
  </div>

<div class="blog-filter">
  <div class="blog-filter__header">
      <div class="left-breadcrumb">
        {% include 'breadcumb' %}
      </div>
      <div class="blog-filter__head">
        <span class="blog-filter__title">CATEGORIES : </span>
        <ul id="filters" class="clearfix">
          <li><span class="filter active" data-filter="all">All</span></li>
          {%- for tag in blog.all_tags -%}
          <li><span class="filter" data-filter=".{{ tag }}">{{ tag }}</span></li>
          {% endfor %}
        </ul>
      </div>
  </div>

<div class="conatiner-fluid">
<div class="row justify-content-center">
<div class="col-lg-10">
		<div id="portfoliolist">
			<div class="row">
      {% assign blog = blogs.News %}
      {% for article in blog.articles %}
		   <div class="portfolio col-lg-4 col-md-6 col-12 {{ article.tags }}" data-cat="{{ article.tags }}">
				<div class="portfolio-wrapper">       
          <div class="featured-image">
            <a href="{{ article.url }}" title="{{ article.title }}"><img src="{{ article | img_url: '400x' }}" alt="{{ article.title }}"></a>
          </div>
          <div class="content">
            <h2><a href="{{ article.url }}" title="{{ article.title }}">{{ article.title }}</a></h2>
            <a href="#">#{{ article.tags }}</a>
          </div>
        </div>
			</div>				
     {% endfor %}
   </div>
  </div>
  </div>
 </div>
</div>
</div>

</div>
{% schema %}
  {
	"name": "Blog Page",
	"class": "blog_page",
	"settings": [
	  {
		"type": "image_picker",
		"id": "blog_header_image",
		"label": "Header Image"
	  },
    {
    "type": "text",
    "id": "blog_page_title",
    "label": "Title"
    }
	]
  }
{% endschema %}
 