{% if product.tags contains 'Bootcare' %}
	<div style="text-align: left;">
	{{ section.settings.boot_care_content }}
	</div>
 {% endif %}
{% schema %}
  {
	"name": "Boot Care",
	"class": "boot_care",
	"settings": [
	  {
		"type": "html",
		"id": "boot_care_content",
		"label": "Boor Care Content"
	  }
	]
  }
{% endschema %}
 