<div class="bootsellers-block">
	<div class="container-fluid">

		<div class="bootsellers-block__title">
			<h2>{{ section.settings.bootseller_title }}</h2>
		</div>

		<div class="bootsellers-block__tabs">
			<ul id="tabs" class="nav nav-tabs" role="tablist">
				{% for block in section.blocks %}
  				{% if block.type == 'block-1' %}
					<li class="nav-item">
						<a id="tab-{{ block.settings.tab_title }}" href="#pane-{{ block.settings.tab_title }}" class="nav-link {% if forloop.first == true %} active {% endif %}" data-toggle="tab" role="tab">{{ block.settings.tab_title }}</a>
					</li>
				{% endif %}
				{% endfor %}

			</ul>


			<div id="content" class="tab-content" role="tablist">
				{% for block in section.blocks %}
  				{% if block.type == 'block-1' %}
					<div id="pane-{{ block.settings.tab_title }}" class="card tab-pane fade  {% if forloop.first == true %} show active {% endif %}" role="tabpanel" aria-labelledby="tab-{{ block.settings.tab_title }}">
						<div class="card-header" role="tab" id="heading-{{ block.settings.tab_title }}">
							<h5 class="mb-0">
								<!-- Note: `data-parent` removed from here -->
								<a data-toggle="collapse" href="#collapse-{{ block.settings.tab_title }}" class="collapsed" aria-expanded="false" aria-controls="collapse-{{ block.settings.tab_title }}">
									{{ block.settings.tab_title }}
									<i class="fa fa-angle-down" aria-hidden="true"></i>
								</a>
							</h5>
						</div>

					<!-- Note: New place of `data-parent` -->
					{% if block.settings.all_collection != blank %}
        			{% if collections[block.settings.all_collection].products_count != 0 %}
					<div id="collapse-{{ block.settings.tab_title }}" class="collapse" data-parent="#content" role="tabpanel" aria-labelledby="heading-{{ block.settings.tab_title }}">
						
						<div class="your-class">
						{% for product in collections[block.settings.all_collection].products %}
							<div>
								<div class="product">
								<a href="{{ product.url }}" class="product__image">
									<img src="{{product.featured_image | img_url: '2024x'}}" alt="{{ product.title }}">
								</a>

								<span class="product__title"><a href="{{ product.url }}">{{ product.title }}</a></span>
								<div class="product__price">
									<span class="price">{{ product.price | money }}</span>
								</div>
								</div>
							</div>
						{% endfor %}
						</div>

					</div>
					{% endif %}
					{% endif %}
				</div>
				{% endif %}

				{% endfor %}
			</div>

		</div>
	</div>
</div>

{% schema %}
{
  "name": "Bestsellers",
  "settings": [
    {
	   "type": "text",
	   "id": "bootseller_title",
	   "label": "Bootseller Title"
    }
  ],
  "blocks":[
    {
      "type": "block-1",
      "name": "Collection",
      "settings": [
        {
          "type": "text",
          "id": "tab_title",
          "label": "Tab Title"
        },
        {
          "type": "collection",
          "id": "all_collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Bootseller",
      "category": "BOOTSELLER SECTION",
      "settings": {
      }
    }
  ]
}
{% endschema %}