{% for block in section.blocks %}
	<div class="category-Product category-Product--{{ block.settings.product_position }}">
		<div class="container-fluid">
			<div class="row category-Product__column">
				<div class="col-lg-6 category-Product-img">
					<div class="category-Product__title" style="background-image: url({{ block.settings.category_image | img_url: '2024x' }})">
						<h1 class="category__title">{{ block.settings.category_title }}</h2>
					</div>
				</div>
				<div class="col-lg-6 category-Product-pro">
					<div class="category-Product__product">
						<div class="product">
							<a href="{{ block.settings.product_url }}" class="product__image">
								<img src="{{ block.settings.product_image | img_url: 'master' }}" alt="BLUNDSTONE #1464 GREY PEBBLE">
							</a>
							
							<span class="product__title"><a href="{{ block.settings.product_url }}">{{ block.settings.product_title }}</a></span>
							<div class="product__price">
								<span class="price">{{ block.settings.product_price }}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endfor %}

{% schema %}
  {
	"name": "Category Product",
	"settings": [
	],
	"blocks": [
			{
				"type": "image",
				"name": "Category Block",
				"settings": [
					{
						"type": "image_picker",
						"id": "category_image",
						"label": "Category image"
					},
					{
						"type": "text",
						"id": "category_title",
						"label": "Category title",
						"default": "Category title"
					},
					{
						"type": "image_picker",
						"id": "product_image",
						"label": "Product image"
					},
					{
						"type": "text",
						"id": "product_title",
						"label": "Product Title"
					},
					{
						"id": "product_url",
						"type": "url",
						"label": "Product Link"
					},
					{
						"type": "text",
						"id": "product_price",
						"label": "Product Price"
					},
					{
					   "type":      "radio",
					   "id":        "product_position",
					   "label":     "Product Position",
					   "options": [
					     { "value": "left", "label": "Right" },
					     { "value": "right", "label": "Left" }
					   ],
					   "default":   "left",
					   "info":      "Product Position"
					}
				]
			}
		],
		"presets": [
			{
				"category": "Image category",
				"name": "Category Product",
				"blocks": [
					{
						"type": "image"
					},
					{
						"type": "image"
					}
				]
			}
		]
	}
{% endschema %}
