{% if product.tags contains 'Cleaning-Leather' %}
<div style="text-align: left;">
{{ section.settings.cleaning_leather }}
</div>
{% endif %}
{% schema %}
  {
	"name": "Cleaning Leather",
	"class": "cleaning_leather",
	"settings": [
	  {
		"type": "html",
		"id": "cleaning_leather",
		"label": "Cleaning Leather"
	  }
	]
  }
{% endschema %}
 