{% if product.tags contains 'Cleaning-Suede' %}
<div style="text-align: left;">
{{ section.settings.cleaning_suede }}
</div>
{% endif %}
{% schema %}
  {
	"name": "Cleaning Suede",
	"class": "cleaning_suede",
	"settings": [
	  {
		"type": "html",
		"id": "cleaning_suede",
		"label": "Cleaning Suede"
	  }
	]
  }
{% endschema %}
 