{% if product.tags contains 'Cleaning-Canvas' %}
<div style="text-align: left;">
{{ section.settings.cleaning_canvas }}
</div>
{% endif %}
{% schema %}
  {
	"name": "Cleaning Canvas",
	"class": "cleaning_canvas",
	"settings": [
	  {
		"type": "html",
		"id": "cleaning_canvas",
		"label": "Cleaning Canvas"
	  }
	]
  }
{% endschema %}
 