{% paginate collection.products by 9 %}
<div class="product-collection">
  <div class="container-fluid">
    <div class="product-collection__heading">
      <h1 class="product-collection__title">{{ collection.title }}</h1>
      <p class="product-collection__text">{{ collection.description }}</p>
    </div>
    <div class="collection-filter">
    {% include 'collection-filters' %}
    </div>
    <div class="all-products">
      <div class="row" id="AjaxinateContainer">
       
        {% for product in collection.products %}
        <div class="col-6 col-sm-4">
          <div class="product">
            <a href="{{ product.url | within: collection }}" class="product__image">
              <img src="{{ product.featured_image.src | img_url: '500x' }}" alt="{{ product.featured_image.alt | escape }}">
            </a>
            {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
            <span class="product__title"><a href="{{ product.url | within: collection }}">{{ product.title }}</a></span>
            <div class="product__price">
              <span class="price">{{ product.price | money }}</span>
            </div>
          </div>
        </div>
        {% else %}
          <p>no matches</p>
        {% endfor %}
        
       </div>
       <div id="AjaxinatePagination">
        {% if paginate.next %}
          <a href="{{ paginate.next.url }}" class="product-collection__load-button">Show More</a>
        {% endif %}
      </div>
    
  </div>
</div>
{% endpaginate %}
