<div class="conatct-page">
  <div class="conatct-banner" style="background: url({{ section.settings.contact_header_image | img_url: '2024x' }}) no-repeat top center;">
    <h1>{{ page.title }}</h1>
  </div>
  <div class="container-fluid">
    <div class="contact-info">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-xl-4">
          <div class="contact-info__info">
           {{ section.settings.contact_richtext }}
          </div>
        </div>
        <div class="col-lg-6 col-xl-6">
          <div class="contact-info__image">
            <img src="{{ section.settings.contact_right_image | img_url: '500x' }}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-form-box">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-10">
        <div class="border-box">
          <h2>{{ section.settings.contact_page_title }}</h2>
          {% form 'contact' %}
            {% if form.posted_successfully? %}<div class="alert alert-success"> Your inquiry was submitted and will be responded to as soon as possible. Thank you for contacting us. </div>{% endif %}
            {{ form.errors | default_errors }}
            <span class="label">Hello my name is</span>
            <input type="text" id="ContactFormName" name="contact[name]">
            <span class="label"> I would like to contact you about </span>
            <select name="about" id="about" title="about" class="select required-entry select-hidden">
              <option></option>
              <option>My account</option>
              <option>My order(s)</option>
              <option>Deliveries and Returns</option>
              <option>Payments</option>
              <option>Other Questions</option>
              <option>Wholesale Opportunities</option>
            </select>
            <span class="label"> My phone number is</span>
            <input type="tel" id="ContactFormPhone" name="contact[phone]">
            <span class="label"> and my email address is</span>
            <input type="email" id="ContactFormEmail" name="contact[email]">
            <div class="contact-form__column">
            <span class="label">Here some brief details:</span>
            <textarea rows="10" id="ContactFormMessage" name="contact[body]" placeholder="Type your message here"></textarea>
            <input type="submit" value="submit" class="btn">
            </div>
          {% endform %}
          </div>
        </div>
      </div>
    </div>
</div>
{% schema %}
  {
	"name": "Contact Us",
	"class": "who_we_are",
	"settings": [
	  {
		"type": "image_picker",
		"id": "contact_header_image",
		"label": "Header Image"
	  },
	  {
	   "type": "html",
	   "id": "contact_richtext",
	   "label": "Contact Page Content",
	   "default": "<p>Default <em>richtext</em> <a href=\"https://example.com/\">content</a></p>"
	  },
	  {
		"type": "image_picker",
		"id": "contact_right_image",
		"label": "Contact Page Right Image"
	  },
	  {
	   "type":      "text",
	   "id":        "contact_page_title",
	   "label":     "Form Title"
	 }
	]
  }
{% endschema %}