{% if product.tags contains 'Extra-Tips' %}
<div style="text-align: left;">
{{ section.settings.extra_tips }}
</div>
{% endif %}
{% schema %}
  {
	"name": "Extra Tips",
	"class": "extra_tips",
	"settings": [
	  {
		"type": "html",
		"id": "extra_tips",
		"label": "Extra Tips"
	  }
	]
  }
{% endschema %}
 