<div class="faq-page">
    <div class="conatct-banner" style="background: url(https://www.blundstone.co.uk/skin/frontend/bestresponse/default/images/faq-banner.jpg.pagespeed.ce.46_p37ay3q.jpg) no-repeat top center;">
        <h1>FAQs</h1>
    </div>
    <div class="fax-content-tab">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 faq-tab-box">
                    <div class="faq-tab" id="fax-tab">
                        <ul id="fax-tab-title">
                            {% for block in section.blocks %}
                                {% if block.type == 'title' %}
                                    <li><a href="#faq-tab-{% increment my_title %}">{{ block.settings.faq_title }}<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="faq-content">
                        <dl>
                            {% for block in section.blocks %}
                                {% if block.type == 'title' %}
                                    <dt>
                                    <h2 id="faq-tab-{% increment my_title_c %}">{{ block.settings.faq_title }}</h2>
                                    </dt>
                                {% endif %}
                                    <dd>
                                        <ul>
                                            {% if block.type == 'question_answer' %}
                                                <li>
                                                    <span class="faq-que">{{ block.settings.questions }}</span>
                                                    <div class="faq-ans">{{ block.settings.answer }}</div>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </dd>
                            {% endfor %} 
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% schema %}
{
    "name": "Faq Blocks",
    "blocks": [
    		{
    			"type": "title",
    			"name": "Title",
    			"settings": [
                  {
                    "type": "text",
                    "id": "faq_title",
                    "label": "Title"
                  }
    			]
    		},
            {
    			"type": "question_answer",
    			"name": "Questions and Answers",
    			"settings": [
                  {
                    "type": "textarea",
                    "id": "questions",
                    "label": "Question"
                  },
                  {
                    "type": "textarea",
                    "id": "answer",
                    "label": "Answer"
                  }
    			]
    		}
	]
}
{% endschema %}