<div class="container-fluid image-row">

{% for block in settings.blocks %}

{% endfor %}
</div>

{% schema %}
  {
	"name": "Product with image",
	"settings": [
	  
	],
	"blocks": [
		{
			"type": "image_row",
			"name": "Image row",
			"settings": [
			{
			  "type": "image_picker",
			  "id": "prod_image",
			  "label": "Product image"
			},
			{
			  "type": "text",
			  "id": "image_title",
			  "label": "Product title",
			  "default": "Title"
			},
			{
			  "type": "text",
			  "id": "prod_price",
			  "label": "Product price",
			  "default": "$150"
			},
			{
			  "type": "image_picker",
			  "id": "row_image",
			  "label": "Row image"
			},
			{
			  "type": "text",
			  "id": "row",
			  "label": "Row image text",
			  "default": "Title"
			}
			
			]
		}
	]
  }
{% endschema %}
