
<footer>
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-3 title">
				<div class="heading">
					<span>EVERYWHERE</span>
					<h2>LIFE TAKES ME™</h2>
				</div>
			</div>
			<div class=" d-none d-lg-block col-md-3">
			<ul class="footer_menu">
				{%- for link in linklists[section.settings.footer1_linklist].links -%}
					<li>
					<a href="{{ link.url }}" {% if link.active %}aria-current="page"{% endif %}>
						{{ link.title }}
					</a>
					</li>
				
				{% endfor %}
			</ul>
			</div>
			<div class=" d-none d-lg-block col-md-3">
				<ul class="footer_menu">
				{%- for link in linklists[section.settings.footer2_linklist].links -%}
						<li>
						<a href="{{ link.url }}" {% if link.active %}aria-current="page"{% endif %}>
							{{ link.title }}
						</a>
						</li>
					
					{% endfor %}
				</ul>
			</div>
			<div class="col-12 col-lg-3">
				<div class="newsletter">
					<div class="klaviyo-form-YrMwZD"></div>
				</div>
				<div class=" col-12 d-block d-lg-none">
					<ul class="footer_menu mobile">
					{%- for link in linklists[section.settings.footer_mobile].links -%}
							<li>
							<a href="{{ link.url }}" {% if link.active %}aria-current="page"{% endif %}>
								{{ link.title }}
							</a>
							</li>
						
						{% endfor %}
					</ul>
				</div>
				<div class="follow-us">
					<h6>FOLLOW US</h6>
					<ul>
						<li class="instagramm"><a href="https://instagram.com/blundstoneau"></a></li>
						<li class="facebook"><a href="https://www.facebook.com/blundstoneau"></a></li>
						<li class="youtube"><a href="https://www.youtube.com/user/BlundstoneAustralia"></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-center">
				<h5 class="copy">©{{ 'now' | date: "%Y" }} {{ section.settings.copyright_text }} <a href="{{ section.settings.cp_link }}">{{ section.settings.copyright_link }}</a></h5>
			</div>
		</div>
	</div>
	
</footer>
{% schema %}
  {
	"name": "Footer",
	"settings": [
	  {
		"type": "link_list",
		"id": "footer1_linklist",
		"label": "Footer menu first",
		 "default": "main-menu"
	  },
	   {
		"type": "link_list",
		"id": "footer2_linklist",
		"label": "Footer menu second",
		 "default": "main-menu"
	  },
	  {
		"type": "link_list",
		"id": "footer_mobile",
		"label": "Footer menu mobile",
		 "default": "main-menu"
	  },
	  {
		  "type":"text",
		  "id":"copyright_text",
		  "label":"Copyright Text"
	  },
	  {
		  "type":"text",
		  "id":"copyright_link",
		  "label":"Copyright Link Text"
	  },
	  {
		  "type":"url",
		  "id":"cp_link",
		  "label":"Copyright Link"
	  }
	]
  }
{% endschema %}