<header id="header" class="container-fluid">
{%- if section.settings.show_announcement -%}
<div class="row announce">

<style>
  .logo {
    top: -47px;
  }
</style>
  {%- if section.settings.home_page_only == false or template.name == 'index' -%}
 <div class="announcment_bar">
    {%- if section.settings.link == blank -%}
     
    {%- else -%}
     
        <a href="{{ section.settings.link }}">
      
    {%- endif -%}

      <p>{{ section.settings.text | escape }}</p>

    {%- if section.settings.link == blank -%}
     
    {%- else -%}
      </a>
    {%- endif -%}
 </div>
  {%- endif -%}
 

</div>
{%- endif -%}
<div class="row row_diff_height" id="header-menu">
  <div class="col-xs-4 col-sm-4 col-md-2 wrap-logo">
    <div class="logo">
      {%- if template.name == 'index' -%}
    <h1 itemscope itemtype="http://schema.org/Organization">
  {%- else -%}
    <div itemscope itemtype="http://schema.org/Organization">
  {%- endif -%}
    <a href="/" itemprop="url">
      <img src="{{ 'logo-desktop.svg' | asset_url }}"
        alt="{{ shop.name }}"
        itemprop="logo">
    </a>
  {%- if template.name == 'index' -%}
    </h1>
  {%- else -%}
    </div>
  {%- endif -%}
    </div>
    <div class="logo-mobile">
      <a href="/" itemprop="url">
      <img src="{{ 'logo-150yrs-mobile.svg' | asset_url }}"
        alt="{{ shop.name }}"
        itemprop="logo">
      </a>
    </div>
  </div>

<div class="d-none d-lg-block col-md-6 col-lg-7">
  <nav class="navigation" role="navigation">
    <ul class="menu">
      {%- for link in linklists[section.settings.main_linklist].links -%}
        <li>
          <a href="{{ link.url }}" class="{% if link.links != blank %}parent-link{% endif %}" {% if link.active %}aria-current="page"{% endif %}>
            {{ link.title }}
          </a>
          {%- if link.links != blank -%}
            <ul class="submenu">
              {%- for child_link in link.links -%}
                <li>
                  <a href="{{ child_link.url }}" {% if child_link.active %}aria-current="page"{% endif %}>
                    {% if child_link.object.image %}
                       <img src="{{child_link.object.image | img_url: '150x100'}}">
                    {% elsif child_link.object.featured_image %}
                      <img src="{{child_link.object.featured_image | img_url: '150x100'}}">
                    {% elsif child_link.object.first_available_variant.featured_image %}
                      <img src="{{child_link.object.featured_image.featured_image | img_url: '150x100'}}">
                    {% else%}
                      {{ 'collection-2' | placeholder_svg_tag }}
                    {% endif %}
                    <span class="submenu__title">{{ child_link.title }}</span>
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}

        </li>
      {%- endfor -%}
    </ul>
  </nav>
</div>
<div class="col-5 col-lg-4 col-md-4 search_login_cart justify-content-end">
    
  <div class="col-lg-3 d-none d-lg-block ">
    <div id="search_button" class="search">
      <span class="search-button"><span class="search_text">Search</span><span class="g-icon search"></span></i></span>
    </div>
  </div>
  {% if shop.customer_accounts_enabled %}
  <div class="col-lg-3 d-none d-lg-block ">
    <div class="login">
    {% if customer %}
    <span class="login-button"><span class="login_text">MY ACCOUNT</span><span class="g-icon user"></span></i></span>
    {% else %}
     <span class="login-button"><span class="login_text">Login</span><span class="g-icon user"></span></i></span>
    {% endif %}
      <div class="account-submenu">
        <ul>
      {% if customer %}
       <li><span class="g-icon user-small"></span></i> <a href="/account">My account</a></li>
       <li> <span>{{ 'log out'  | customer_logout_link }}</span></li>
      {% else %}
      <li><span class="g-icon user-small"></span> <a href="/account">MY ACCOUNT</a></li>
       <li> <span class="g-icon login"></span><span>{{ 'LOG IN' | customer_login_link }}</span></li>
        <li><span class="g-icon register"></span><span>{{ 'REGISTER' | customer_register_link }}</span></li>
      {% endif %}
    </ul>
      </div>
  </div>
 

</div>
{% endif %}
<div id="mobile_menu_button" class="quick-access skip-links col-7 d-lg-none">
  <a href="#header-nav" class="skip-link skip-nav col-md-4 col-sm-6 col-xs-6 hidden-md hidden-lg">
  <div class="nav-icon">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  </div>
  </a>
  </div>
<div class="col-lg-4 basket">
  <div class="cart-button qimify-minicart-sticky js-ajax-cart-drawer-trigger" id="cart_button">
    <span><span class="cart-text">My basket</span>(<span class="qimify-minicart-sticky-counter js-ajax-cart-counter">{{ cart.item_count }}</span>)<span class="g-icon cart-icon"></span></i> </span>
  </div> 
</div>
</div>



<form id="search_form" class="search-form" method="get" action="/search">
  <button type="submit" value="Search" ><img src="{{'search-icon.png.pagespeed.ce.OiW73FKHT0.png' | asset_url}}" alt=""></button>
  <input id="search_input" placeholder="SEARCH" type="text" name="q" />
  <input type="hidden" name="type" value="product">

  <div id="search_close_button"></div>
</form>
</div>
 {% include 'ajax-cart' %}
  <div id="mobile_menu">
    <ul class="menu-mobile">
      {%- for link in linklists[section.settings.main_linklist].links -%}
        <li>
          <a href="{% if link.links == blank %}{{ link.url }}{% else%}#{% endif %}" class="{% if link.links != blank %}parent-link-mobile{% endif %}" {% if link.active %}aria-current="page"{% endif %}>
            {{ link.title }}
            {% if link.links != blank %}
              <div class="plus-button"></div>
            {% endif %}
          </a>
          {%- if link.links != blank -%}
            <ul class="mobile-submenu">
              {%- for child_link in link.links -%}
                <li>
                  <a href="{{ child_link.url }}" {% if child_link.active %}aria-current="page"{% endif %}>
                    <span class="mobile-submenu__title">{{ child_link.title }}</span>
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
  
        </li>
      {%- endfor -%}
      <li>
        <form id="search_form" class="mobile-search-form" method="get" action="/search">
          <input id="search_input" placeholder="SEARCH" type="text" name="q" />
          <input type="hidden" name="type" value="product">
          <button type="submit" value="Search" ><img src="{{'search-icon.png.pagespeed.ce.OiW73FKHT0.png' | asset_url}}" alt=""></button>
      </form>
    </li>
      <li></span><span>{{ 'LOG IN' | customer_login_link }}</span></li>
    </ul>
  </div>

</header>

 {%- if section.settings.home_page_only == true and template.name != 'index' -%}
 <style>
   .logo {
     top: 0 !important;
   }
 </style>
   {%- endif -%}
 <style>
 .announcment_bar a, .announcment_bar p {
	color: {{section.settings.announcement_text_color}};
}
.announcment_bar {
	background-color: {{section.settings.announcement_bar_color}};
}
 </style>
{% schema %}
{
  "name": "Header",
  "settings": [
     {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Select menu",
      "default": "main-menu"
    },
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "Show announcement bar",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "home_page_only",
      "label": "Home page only",
      "default": true
    },
    {
      "type": "text",
      "id": "text",
      "label": "Announcement text",
      "default": "Announce something here"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Announcement link"
    },
    {
      "type": "color",
      "id": "announcement_text_color",
      "label": "Announcement text color",
      "default": "#002d72"
    },
     {
      "type": "color",
      "id": "announcement_bar_color",
      "label": "Announcement bar color",
      "default": "#fff"
    }
  ]
}
{% endschema %}