<div class="container-fluid image-row-container">
	<div
	 class="row no-gutters image-row-wrapper  {% if section.settings.col_select == '4'%} image-row-3 {% else %}image-row-2{% endif %} "
	 >
	{% for block in section.blocks %}
<div class="image-item col-12 col-md-{{section.settings.col_select}}">

	{% if block.settings.slider_image %}
	
		<a href="{{block.settings.image_url}}">
			<span>{{block.settings.image_title}}</span>
			{{ block.settings.slider_image | img_url: 'master' | img_tag }}
		</a>

	{% else %}
	{{ 'product-2' | placeholder_svg_tag }}
	{% endif %}
</div>

	{% endfor %}
</div>
</div>



{% schema %}
  {
	"name": "Image row",
	"settings": [
		{
		  "type": "select",
		  "id": "col_select",
		  "label": "Column",
		  "options": [
			{
			  "value": "6",
			  "label": "2 column"
			},
			{
			  "value": "4",
			  "label": "3 column"
			}
		  ],
		  "default": "6",
		  "info": "Select number of column"
		}
	],
	"blocks": [
			{
				"type": "image",
				"name": "Image",
				"settings": [
					{
						"type": "image_picker",
						"id": "slider_image",
						"label": "Slider image"
					},
					{
						"type": "text",
						"id": "image_title",
						"label": "Image title",
						"default": "Image title"
					},
					{
						"type": "url",
						"id": "image_url",
						"label": "Button link"
					}
				]
			}
		],
		"presets": [
			{
				"category": "Image",
				"name": "Image row",
				"blocks": [
					{
						"type": "image"
					},
					{
						"type": "image"
					}
				]
			}
		]
	}
{% endschema %}
