<div class="container-fluid hero-slider">
	<div id="slider_container" class="swiper-container">
  
		<div class="swiper-wrapper">
		   {% for block in section.blocks %}
			  <div class="swiper-slide" {{ block.shopify_attributes }}>
				<a class="slide_link_wrap" href="{{ block.settings.image_button_url }}">
					{%if block.settings.hero_slider_image %}
					{{block.settings.hero_slider_image | img_url:'1920x1080' | img_tag}}
					{% else %}
					{{ 'lifestyle-1' | placeholder_svg_tag }}
					{% endif%}  
					<div class="slider_text_button">
						<h2> {{block.settings.hero_image_title}}</h2>
						<a class="hero_slider_button" href="{{ block.settings.image_button_url }}">{{block.settings.image_button_text}}</a>
					</div>
				</a>
			  </div>
			{% endfor %}
			
		</div>
	  
	  
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
		<div class="swiper-pagination"></div>
	  </div>
	  <a href="{{ section.settings.Mobile_image_url }}" class="mobile-slider" style="background-image: url({{ section.settings.Mobile_image | img_url: '1920x800' }})">
	  	<h2>{{section.settings.mobile_image_title}}</h2>
	  </a>
</div>

<script>
	
	
</script>

{% schema %}
  {
	"name": "Slider",
	"class": "Mobile-image",
	"settings": [
		{
			"type": "text",
			"id": "mobile_image_title",
			"label": "Mobile Image title",
			"default": "Mobile Image title"
		},
		{
			"type": "image_picker",
			"id": "Mobile_image",
			"label": "Mobile Image"
	  	},
		{
			"type": "url",
			"id": "Mobile_image_url",
			"label": "Button link"
		}
	],
	"blocks": [
		{
			"type": "image",
			"name": "Image",
			"settings": [
				{
					"type": "image_picker",
					"id": "hero_slider_image",
					"label": "Hero Slider image"
				},
				{
				  "type": "text",
				  "id": "hero_image_title",
				  "label": "Hero Image title",
				  "default": "Hero Image title"
				},
				{
				  "type": "text",
				  "id": "image_button_text",
				  "label": "Button text",
				  "default": "View product"
				},
				{
				  "type": "url",
				  "id": "image_button_url",
				  "label": "Button link"
				}
			]
		}
	],
	"presets": [
      {
        "category": "Image",
        "name": "Slider",
        "blocks": [
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}

