<div class="home-about container-fluid">
<div class="row justify-content-center">
<div class="col-md-10 col-lg-8">
<h2>{{section.settings.heading}}</h2>
<div class="text-box">
{{section.settings.whj_we_are_text}}
<a class="read-more" href="{{section.settings.button_url}}" title="read more"><i class="fa fa-angle-right" aria-hidden="true"></i> {{section.settings.read_more}}</a>
</div>
<div class="img-box col-dm-12">
{{ section.settings.who_image | img_url: 'master' | img_tag }}
</div>	</div>
</div>
</div>

<style>

</style>
{% schema %}
  {
	"name": "Text with image",
	"class": "who_we_are",
	"settings": [
	  {
		"type": "text",
		"id": "heading",
		"label": "Title",
		"default": "who we are"
	  },
	  {
		"type": "text",
		"id": "whj_we_are_text",
		"label": "Text",
		"default": "Since 1870 Blundstone has made the toughest, no-nonsense footwear for work and play. Established in Hobart, Tasmania the company has grown to become one of the world's most recognisable boot brands. Our history, heritage and people have helped shape the way our boots have evolved; perhaps it takes a unique place to inspire the development of a unique boot."
	  },
	  {
		"type": "text",
		"id": "read_more",
		"label": "read more",
		"default": "read more"
	  },
	  {
		"type": "url",
		"id": "button_url",
		"label": "Read more url"
	  },
	  {
		"type": "image_picker",
		"id": "who_image",
		"label": "Image"
	  }
	],
	 "presets": [
    {
      "name": "Text with image",
      "category": "Image"
    }
  ]
  }
{% endschema %}
 