.ajax-cart__modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 40;
    max-width: 575px;
    background: white;
    border: 1px solid #e9e9e9;
    padding: 50px 65px;
    opacity: 0;
    visibility: hidden;
    will-change: opacity, visibility;
}
.ajax-cart__modal.is-open {
    opacity: 1;
    visibility: visible;
}
.ajax-cart__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 30;
    background-color: rgba(0,0,0,.4);
    transition: all .3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.ajax-cart__overlay.is-open {
    opacity: 1;
    visibility: visible;
}
.ajax-cart__drawer {
    position: fixed;
    top: 0;
    right: -480px;
    z-index: 100;
    width: 100%;
    max-width: 480px;
    height: 100%;
    background-color: #fff;
    transition: all .3s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.ajax-cart__drawer.is-open {
    transform: translateX(-480px);
}
.ajax-cart-modal {
    position: relative;
}
.ajax-cart-modal__close {
    position: absolute;
    right: 30px;
    top: 10px;
    cursor: pointer;
}
.ajax-cart-modal__content {
    padding: 20px;
}
.ajax-cart-drawer {
    position: relative;
    height: 100%;
}
.ajax-cart-drawer__close {
    position: absolute;
    right: 30px;
    top: 5px;
    cursor: pointer;
}
.ajax-cart-drawer__content {
    padding: 25px 25px 190px;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}
.ajax-cart-drawer__buttons {
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 190px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.ajax-cart-drawer__buttons .button:last-child {
    margin-top: auto;
}
.ajax-cart-item__single {
    position: relative;
    transition: all .3s ease-in-out;
    padding: 15px 0;
    border-bottom: 1px solid #f5f5f5;
}
.ajax-cart-item__image {
    width: 90px;
    height: auto;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
.ajax-cart-item__remove {
    position: absolute;
    right: 0;
    top: 25px;
    cursor: pointer;
}
.js-button{
    background: #000;
    color: #fff;
    padding: 20px 10px;
    text-align: center;
    cursor: pointer;
}
.ajax-cart-item__price{
    position: absolute;
    bottom: 25px;
    right: 0;
}
.ajax-cart-item__quantity{
    position: absolute;
    bottom: 23px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    left: 122px;
}
.ajax-cart-item__title{
    vertical-align: top;
}
.ajax-cart-drawer__subtotal{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    transition: all .3s ease-in-out;
    align-items: center;
    height: 50px;
    padding: 0 30px;
}
.ajax-cart-item__quantity-number{
    width: 30px;
    height: 24px;
    margin: 0;
    text-align: center;
    font-size: 1rem;
    color: #000;
    border: none;
    outline: none;
    -moz-appearance: textfield;
    vertical-align: middle;
}
.ajax-cart-item__quantity-button{
    width: 24px;
    height: 24px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid #f5f5f5;
    font-size: 1rem;
    padding: 0 5px;
    margin: 0 2px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ajax-cart-drawer__grandtotal{
    display: -ms-flexbox;
    display: flex;
    font-weight: bold;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    transition: all .3s ease-in-out;
    align-items: center;
    height: 50px;
    padding: 0 30px;
    border-top: 1px solid #002d72;
}


.ajax-cart__drawer{
	max-width: 325px !important;
	z-index: 223 !important;
}
.ajax-cart__drawer .drawer-header{
	text-align: center;
	padding: 13px 10px;
	border-bottom: 2px solid #002d72;
	color: #002d72;
	font-size: 12px;
	letter-spacing: .1em;
	font-weight: bold;
	
}
.ajax-cart__drawer .ajax-cart-drawer__close {
	/* background-image: url('../assets/left.png'); */
	display: inline-block;
	width: 11px;
	height: 21px;
	background-position: -21px -135px;
	position: absolute;
	right: auto;
    top: 8px;
    left: 12px;
    font-size: 18px;
	cursor: pointer;
}
.js-ajax-cart-drawer-close{
    cursor: pointer;
}
.ajax-cart__drawer .ajax-cart-drawer__content{
	padding: 0;
	position: relative;
	height: calc(100% - 92px);
	overflow: hidden;
	overflow-y: hidden;
	
}
.ajax-cart__drawer .sub-total-contain{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 55px;
	height: 55px;
	border-top: 1px solid #002d72 !important;
	background: transparent !important;
}
.ajax-cart__drawer .sub-total-contain span{
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: .1em;
}
.ajax-cart__drawer .sub-total-contain .ajax-cart-drawer__subtotal-price{
	letter-spacing: 0;
}
.ajax-cart__drawer .grand-total-contain{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 55px;
	border-top: 1px solid #002d72 !important;
	background: transparent !important;
	
}
.ajax-cart__drawer .grand-total-contain span{
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: .1em;
}
.empty-cart{
    padding: 20px;
    text-align: center;
    color: #000;
    font-size: 25px;
}
.ajax-cart__drawer .grand-total-contain .ajax-cart-drawer__grandtotal-price{
	letter-spacing: 0;
}
.ajax-cart__drawer .ajax-cart-item__single{
	padding: 15px;
	border-bottom: 1px solid #002d72;
	display: flex;			
    align-items: center;
}
.ajax-cart__drawer .minicart-product-image{
	flex: 33% 0 0;
	margin-right: 5px;
}
.ajax-cart__drawer .ajax-cart-item__title{
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: .1em;
	line-height: 14px;
	display: inline-block;
	width: calc(100% - 25px);
	
}
.ajax-cart__drawer .ajax-cart-item__title a{
		color: #000;
	}
	.ajax-cart__drawer .ajax-cart-item__title a:hover{
		text-decoration: none;
		color: #000;
	}

.ajax-cart__drawer .ajax-cart-item__price {
	position: inherit;
	padding: 10px 0;
	font-size: 14px;
}
.ajax-cart__drawer .minicart-product-qty{
	display: flex;
}
.ajax-cart__drawer .ajax-cart-item__quantity{
	position: inherit;
	line-height: 14px;
	font-size: 10px;
	margin-right: 10px;
}
.ajax-cart__drawer .ajax-cart-item__quantity-label{
	margin-right: 10px;
}
.ajax-cart__drawer .edit-cart-product a{
	text-decoration: underline;
	text-transform: lowercase;
	letter-spacing: .05em;
	font-family: 'DINNextW01-LightItalic';
	font-size: 10px;
	line-height: 24px;
}
.ajax-cart__drawer .ajax-cart-item__remove {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 13px;
	line-height: 13px;
	background: url(https://www.blundstone.co.uk/skin/frontend/bestresponse/default/images/g-icons.png.pagespeed.ce.DzOMBftSJS.png) no-repeat -22px -156px;
	width: 11px;
	height: 10px;
}
.ajax-cart__drawer .ajax-cart-drawer__buttons{
	padding: 0;
	height: auto;
}
.ajax-cart__drawer .js-button{
	background: #002d72;
	color: #fff;
	padding: 17px 10px;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: .1em;
	font-weight: bold;
}
.ajax-cart__drawer .js-button:hover{
	text-decoration: none;
	color: #fff;
}
.js-ajax-cart-overlay.is-open{
		background: rgba(29,29,31,0.6);
    z-index: 222;
}
.js-ajax-cart-quantity-minus{
	    width: 17px;
    height: 17px;
    display: inline-block;
    border: 0 none;
    cursor: pointer;
    background: url(cart_qty.png.pagespeed.ce.VUgyIO99e_.png) no-repeat 0 0;
    vertical-align: middle;
	    background: url(g-icons.png.pagespeed.ce.DzOMBftSJS.png) no-repeat -26px -177px;
    width: 6px;
    height: 11px;
	margin-right: 4px;
}
.js-ajax-cart-quantity-plus{
	width: 17px;
    height: 17px;
    display: inline-block;
    border: 0 none;
    cursor: pointer;
    background: url(cart_qty.png.pagespeed.ce.VUgyIO99e_.png) no-repeat 0 0;
    vertical-align: middle;
	    background: url(g-icons.png.pagespeed.ce.DzOMBftSJS.png) no-repeat -26px -166px;
    width: 6px;
    height: 11px;
}
.ajax-cart-item__quantity-button {
    width: 15px !important;
    height: 12px !important;
	border: none!important;
}
.ajax-cart-item__quantity-number{
	background: none !important;
    border: none !important;
}
/*@media screen and (max-width: 767px){
	.ajax-cart__drawer{
        max-width: 768px !important;
        right: -768px;
	}
}*/

@media screen and (max-width: 991px){
    .ajax-cart__overlay{
        display: none;
    }
    .ajax-cart__drawer{
        max-width:100% !important;
        position: static;
        background-color: #fff;
        height: 0;
        overflow: hidden;
       
    }
    .ajax-cart-drawer{
        height: auto !important;
        transition: 0.5s ease all;
        transform: scale(0.5);
    }
    .ajax-cart__drawer.is-open{
        transform: inherit;
        height: auto;
        margin-top: 7px;
    }
    .ajax-cart__drawer.is-open .ajax-cart-drawer{
        transition: 0.3s ease all;
        transform: scale(1);
    }
    .ajax-cart__drawer .sub-total-contain{
        position: static;
        height: auto;
    }
    .ajax-cart-drawer__buttons{
        position: static;
    }
}