{% comment %} body{
	font-family: 'neuzeitgroteskw01-regularRg';
} {% endcomment %}

// menu hack
ul.menu{
	margin-bottom:0px;
}
.mobile-slider{
	display: none;
}
// category page..........
.all-products{
	text-align: center;
}
.search-page h2.search-title{
        text-transform:uppercase;
	}
.product-collection{
	text-align: center;
	padding: 40px 0;
	.product-collection__heading{
		width: 53%;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 40px;
	}
	.product-collection__title{
		text-align: center;
		margin-bottom: 40px;
    	text-transform: uppercase;
		font-size: 48px;
		color: #000;
		font-weight: bold;
		letter-spacing: .1em;
	}
	.product-collection__text{
		text-align: center;
		font-size: 16px;
    	line-height: 20px;
		color: #000;
	}
	.product-collection__load-button{
		color: #193572;
		font-size: 18px;
		line-height: 26px;
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
		border: 2px solid #193572;
		display: inline-block;
    	padding: 10px 30px;
		margin: 50px 0;
		text-decoration: none;
		font-weight: bold;
		letter-spacing: .1em;
	}
	.product-collection__load-button:hover{
		background-color: #193572;
		color: #fff;
	}
}
.product{
	text-align: center;
	margin-bottom: 30px;
	.product__image{
		margin-bottom: 20px;
		height: 300px;
		display: flex;
		align-items: center;
		justify-content: center;
		img{
			max-height: 300px;
			margin: 0 auto;
			max-width: 100%;
		}
		
	}
	
	.product__title{
		font-size: 12px;
		line-height: 18px;
		color: #000;
		margin-bottom: 30px;
		text-transform: uppercase;
		display: block;
		letter-spacing: 0.1em;
		a{
			color: #000;
			font-family: 'Neuzeit Grotesk W01 Reg1487164';
		}
	}
	.product__price{
		font-size: 18px;
		line-height: 24px;
		color: #000;
		letter-spacing: 0.1em;
	}
	.price{
		font-size: 18px;
		line-height: 24px;
		color: #000;
		font-weight: bold;
		letter-spacing: 0.1em;
	}
}
.product:hover{
	.product__image{
		opacity: .5;
	}
}

.navbar.filter-menu{
	text-align: center !important;
    display: block !important;
	letter-spacing: 0.1em !important;
	ul.navbar-nav{
		li.dropdown{
			border: 1px solid #fff;
		}
		li.dropdown.show{
			border: 1px solid #e6e6e6;
			border-bottom: 1px solid #fff;
		}
		li.dropdown:hover{
			border: 1px solid #e6e6e6;
			border-bottom: 1px solid #fff;
			ul.dropdown-menu{ 
				border: 1px solid #e6e6e6; 
			}
		}
		ul{
			padding: 20px 20px;
			font-size: 15px;
			color: #000;
			margin-top: -1px;
			border-radius: 0;
			li{
				font-size: 15px;
				color:#000;
				margin-bottom: 4px;
				a{
					    text-decoration: none;
						color:#000;
				}
			}
		}
	}
	.navbar-brand{
		font-size: 14px;
    	text-transform: uppercase;
		font-weight: bold;
		margin-right: 0;
	}
	.nav-link{
		font-size: 14px;
    	text-transform: uppercase;
		padding: 8px 15px; 
		color:#000;
		i{
			font-size: 13px;
			margin-left: 10px;
		}
	}
	.dropdown-toggle{
		display: flex;
    	align-items: center;
	}
	.dropdown-toggle::after{
        display: none;
	}
	.navbar-toggler{
		display: none;
		align-items: center;
		border: none;
		.toggler-icon{
			display: flex;
			align-items: center;
			justify-colntent: center;
			margin-bottom: 3px;
			width: 20px;
		}
		.toggler-icon:after{
			content: "-";
			font-size: 38px;
			color: #193572;
			line-height: 30px;
			width: 20px;
		}
	}
	.navbar-toggler:focus{
		outline: none;
		box-shadow: none;
	}
	.navbar-toggler.collapsed{
		.toggler-icon:after{
			content: "+";
			font-size: 30px;
			color: #193572;
			width: 20px;
		}
	}
	.navbar-head{
		display: inline-flex;
	}
	
	
}
.image-row-wrapper {
    padding: 0;
    padding-top: 7px;
}
.who_we_are .home-about h2{
	letter-spacing: 0.1em;
	font-weight: bold;
}
.who_we_are .home-about .text-box{
	{% comment %} font-family: 'neuzeitgroteskw01-regularRg'; {% endcomment %}
	font-family: 'NeuzeitGroLig W01 Regular';
}
// product details page..........
.product-details{
	padding: 40px 0;
	.product-details__heading{
		padding-bottom: 20px;
		display: block;
		font-size: 30px;
		margin: 0;
		line-height: 36px;
		text-transform: uppercase;
		color: #000;
		display: flex;
		border-bottom: 1px solid #ccc;
	}
	.slider-nav{
		width: 60%;
		margin: 0 auto;
		display: flex;
		margin-top:15px
	}
	.slick-track {
		display: flex;
		align-items: center;
		height: 100%;
	}
	.slick-initialized .slick-slide {
		display: flex;
		align-items: center;
	}
	.slick-slide{
		img{
			margin: 0 auto;
			 max-width: 100%;
		}
	}
	.slick-slide:focus{
		outline: none;
		bos-shadow: none;
	}
	.slick-arrow{
		background: transparent;
		border: none;
		padding: 5px;
	}
	.slick-arrow:focus{
		outline: none;
		bos-shadow: none;
	}
	.slick-arrow span{
		height: 58px;
		width: 30px;
		display: inline-block;
		background-size: cover;
	}
	.slick-arrow span.prev{
		background-image: url('../assets/carousel-arrows.png');
		background-position: top;
	}
	.slick-arrow span.next{
		background-image: url('../assets/carousel-arrows.png');
		background-position: bottom;
	}
	.image-inner {
    	border: none;
	}
	.product-details__title{
    	letter-spacing: .1em;
		font-size: 18px;
		margin: 0;
		line-height: 36px;
		width: calc(100% - 150px);
		font-weight: bold;
		text-transform: uppercase;
    	letter-spacing: .1em;
	}
	.product-details__info{
		border-bottom: 1px solid #ccc;
		padding: 20px 0;
		font-size: 15px;
		line-height: 22px;
		color: #000;
		font-family: 'NeuzeitGroLig W01 Regular';
	}
	.price{
		font-size: 18px;
		margin: 0;
		line-height: 36px;
		font-weight: bold;
		width: 150px;
		text-align: right;
		text-transform: uppercase;
    	letter-spacing: .1em;
	}
	.product-details__part{
		border-bottom: 1px solid #ccc;
		padding: 20px 0;
		font-size: 15px;
		line-height: 22px;
		color: #000;
		display: flex;
		align-items: center;
		.label{
			font-size: 12px;
					width: 40px;
    		display: inline-block;
			text-transform: uppercase;
			font-family: 'NeuzeitGroLig W01 Regular';
			letter-spacing: .1em;
		}
		select{
			padding: 6px 30px 6px 12px;
    		border: 1px solid #ccc;
			color: #000;
			font-size: 15px;
			line-height: 22px;
			background-color: transparent;
			width: 185px;
			font-family: 'NeuzeitGroLig W01 Regular';
		}
		select{
			outline: none;
			box-shadow: none;
		}
	}
	.product-form__controls-group{
		width: 100%;
		.product-form__item{
			display: flex;
    		align-items: center;
		}
		label{
			    margin-right: 40px;
				    margin-bottom: 0;
					text-transform: uppercase;
					font-size: 12px;
					width: 70px;
					letter-spacing: .1em;
					font-family: 'NeuzeitGroLig W01 Regular';
		}
	}
	.product-details__tabs{
		padding: 40px 0 20px;
		h5{
			font-size: 24px;
			text-transform: uppercase;
			display: block;
			text-align: left;
			margin-bottom: 30px;
			font-weight: bold;
		}
		h3{
			font-size: 24px;
			display: block;
			text-align: left;
			margin-bottom: 5px;
			font-weight: bold;
			letter-spacing: .1em;
		}
		p{
			color: #000;
			font-size: 16px;
			line-height: 22px;
			margin-bottom: 5px;
		}
		
		.tab-pane{
			ul{
				padding-left: 20px;
				margin: 20px 0;
				li{
					list-style-type: disc;
					font-size: 16px;
					line-height: 22px;
				}
			}
			table{
				border-collapse: inherit;
				width: 100%!important;
				display: block;
				overflow: auto;
				width: 420px; 
				height: 460px;
				color: #000;
				font-size: 16px;
				line-height: 22px;
				td{
					text-align: center;
    				border: 1px solid #000;
					padding: 3px;
					h4{
						color: #000;
						font-size: 16px;
						line-height: 22px;
						margin-bottom: 0;
						font-weight: bold;
					}
				}
			}
			.data-table{
				tbody{
					width: 100%;
    				display: block;
					tr{
						border-bottom: 1px solid #dbdbdb;
						display: table;
						width: 100%;
					}
					tr:first-child{
						border-top: 1px solid #dbdbdb;
						display: table;
					}
				}
				
				th{
					padding: 5px;
					border: none;
					text-align: left;
					width: 150px;
					margin-bottom:0;
				}
				td{
					padding: 5px 40px;
    				border: none;
					text-align: left;
					    width: 100%;
				}
			}
		}
	}
	.cart-btn{
		color: #fff;
		text-transform: uppercase;
		font-size: 12px;
		border: none;
		letter-spacing: .1em;
		line-height: 55px;
		background: #82bc23;
    	text-transform: uppercase;
		width: 50%;
		text-align: center;
		font-weight: bold;
	}
	.nav-tabs{
		margin-bottom: 30px;
		border-bottom: none;
		display:none;
		li{
			margin-right: 36px;
			font-size: 12px;
			text-transform: uppercase;
			margin-bottom: 12px;
			a{
				border: none;
				position: relative;
				padding: 0;
				font-weight:bold;
				color:#002D72;
			}
			a:before{
				content: "";
				position: absolute;
				left: 0;
				right: 100%;
				height: 1px;
				bottom: -5px;
				background-color: #352b1f;
				-webkit-transition: all .3s ease-in-out;
				-o-transition: all .3s ease-in-out;
			}
			a.active{
				padding: 0;
				opacity: 1;
				font-weight:bold;
				color:#002D72;
			}
			a.active:before{
				right: 0;
				-webkit-transition: all .3s ease-in-out;
				-o-transition: all .3s ease-in-out;
			}
			a:hover{
				padding: 0;
				color: #002D72;
			}
			a:hover:before{
				background-color: #002D72;
				right: 0;
				-webkit-transition: all .3s ease-in-out;
				-o-transition: all .3s ease-in-out;
			}
		}
	}
}

input[type="number"] {
  -moz-appearance: textfield;
}
.quantity-block {
	flex: 50% 0 0;
	display: flex;
	align-items: center;
	.quantity-arrow-minus,
	.quantity-arrow-plus {
		cursor: pointer;
		font-size: 20px;
		padding: 5px 12px;
		width: 40px;
		box-sizing: border-box;
		border-radius: 4px;
		outline: none;
		font-size: 34px;
		margin: 0 6px;
	}
	.quantity-arrow-minus{
		width: 17px;
		height: 17px;
		display: inline-block;
		border: 0 none;
		cursor: pointer;
		background: url(cart_qty.png) no-repeat 0 0;
		vertical-align: middle;
		background-position: bottom;
		margin-right: 10px;
	}
	.quantity-arrow-plus{
		width: 17px;
		height: 17px;
		display: inline-block;
		border: 0 none;
		cursor: pointer;
		background: url(cart_qty.png) no-repeat 0 0;
		vertical-align: middle;
		margin-left: 10px;
	}
	.quantity-num {
		font-size: 20px;
		padding: 5px 5px;
		outline: none;
		width: 45px;
		height: 45px;
		text-align: center;
		border: 1px solid #ccc;
		border-radius: 0;
		font-family: 'NeuzeitGroLig W01 Regular';
	}
	label{
		margin-bottom: 0;
	}
}
.navigation a {
    color: #002D72;
	font-family: 'NeuzeitGro W01 Bold';
}
.parent-link:before, .parent-link:after {
    background-color: #002D72;
}
.row_diff_height {
    background-color: #fff;
}
.slider-single{
	text-align: center;
}
.slider-nav {
	margin-top:20px;
}
.slider-single div{
	cursor:pointer;
}
.image-inner img{
	display:inline-block !important;
}
.image-inner {
	border: 1px solid #ccc;
	box-sizing: border-box;
	width: calc(100% - 5px);
	text-align: center;
	cursor:pointer;
}
.slick-slide img{
	display:inline-block !important;
}
.announcment_bar p{
    margin-bottom: 0;
	font-size: 12px;
    letter-spacing: 0.1em;
	font-weight: bold;
	font-family: 'NeuzeitGro W01 Bold';
}
.menu>li>a {
    letter-spacing: 0.1em;
	font-weight: bold;
}
.slider_text_button h2{
	font-weight: bold;
	font-family: 'NeuzeitGro W01 Bold';
}
.slider_text_button a{
	text-decoration: none;
	font-family: 'NeuzeitGro W01 Bold';
}
.slider_text_button a:hover{
	text-decoration: none;
}
.image-item span{
	letter-spacing: 0.1em;
}
.slider_text_button .hero_slider_button{
	font-weight: bold;
	font-family: 'NeuzeitGro W01 Bold';
}
header{
	border-bottom: 1px solid #ccc;
}
.product-details {
	.left-breadcrumb .breadcrumb li:before{
		padding-right: 1px;
	}
	.breadcrumb-item+.breadcrumb-item{
		    padding-left: 5px;
	}
}

// Login Page..........
.login-template{
	padding: 40px 0;
	.login-template__heading{
		margin-bottom: 40px;
		text-align: center;
		h1{
			text-transform: uppercase;
    		font-size: 40px;
			line-height: 46px;
			letter-spacing: .1em;
			color: #000;
			margin: 0;
			font-weight: bold;
		}
	}
	.login-template__column{
		border: 1px solid #002D72;
		padding: 30px;
		height: 100%;
	}
	.form-heading{
		text-align: center;
		color: #000;
		h3{
			display: block;
			margin-bottom: 15px;
			text-transform: uppercase;
			font-size: 24px;
			line-height: 30px;
			letter-spacing: .1em;
			font-weight: bold;
			color: #000;
			a{
				color: #000;
				text-decoration: none;
			}
		}
		p{
			display: block;
			margin-bottom: 30px;
			font-size: 14px;
			line-height: 20px;
		}
	}
	.form-content{
		overflow: hidden;
		margin: 0 auto;
		max-width: 360px;
		label{
			font-size: 12px;
			display: block;
			position: relative;
			z-index: 0;
			clear: both;
			font-weight: 600;
			text-transform: uppercase;
			vertical-align: bottom;
			margin-bottom: 3px;
		}
		input{
			width: 100%;
			border: 1px solid #cdcdcd;
			padding: 0 10px;
			height: 32px;
			line-height: 32px;
			font-size: 12px;
			margin-bottom: 20px;
		}
		input.pass{
			letter-spacing: .5em;
		}
		input:focus{
			border: 1px solid #000;
			outline: none;
			box-shadow: none;
		}
		.submit-button{
			width: 100%;
			text-transform: uppercase;
			font-size: 12px;
			line-height: 60px;
			padding: 0 10px;
			font-weight: bold;
			letter-spacing: .1em;
			background: #82bc23;
			color: #fff;
			text-align: center;
			margin-top: 20px;
			height: 60px;
			border: none;
		}
		.submit-button--blue{
			background: #002D72;
		}
		.form-group--column-left{
			width: 48%;
    		float: left;
		}
		.form-group--column-right{
			width: 48%;
    		float: right;
		}
		.errors{
			ul{
				li{
					color: #721c24;
					background-color: #f8d7da;
					border-color: #f5c6cb;
					position: relative;
					padding: .75rem 1.25rem;
					margin-bottom: 1rem;
				}
			}
		}
	}
	.forgot-pass-link{
		display: block;
		margin-bottom: 30px;
		font-size: 12px;
		color: #000;
		text-decoration: underline;
		a{
			color: #000;
		}
	}
	.form-group{
		margin-bottom: 0;
	}
}
.shopify-challenge__button{
	width: 200px;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 60px;
		padding: 0 10px;
		font-weight: bold;
		letter-spacing: .1em;
		background: #002D72;
		color: #fff;
		text-align: center;
		margin-top: 20px;
		height: 60px;
		border: none;
		border-radius: 0;
		margin-bottom: 60px !important;
}
.shopify-challenge__button:hover{
	color: #fff;
}
.page-width{
	    max-width: 1200px;
    margin: 0 auto;
	    padding-left: 55px;
    padding-right: 55px;
	display: block;
    overflow: hidden;
}
.account-page{
	padding: 40px 0;
	.section-header{
		margin-bottom: 55px;
	}
	h1{
		margin: 0 0 17.5px;
		font-style: normal;
		font-weight: 700;
		line-height: 1.2;
		overflow-wrap: break-word;
		word-wrap: break-word;
		font-size: 2.33333em;
		text-transform: none;
		letter-spacing: 0;

	}
	#customer_logout_link{
		color: #3a3a3a;
		text-decoration: none;
		font-size: 15px;
		line-height: 1.5;
	}
	#customer_logout_link:hover{
		color: #3a3a3a;
		text-decoration: none;
	}
	
}
.myaccount{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 50px;
	.myaccount__order-history{
		
		h2{
			font-size: 1.33333em;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			margin: 0 0 17.5px;
			font-weight: 700;
			line-height: 1.2;
			overflow-wrap: break-word;
			word-wrap: break-word;
		}
		table{
			margin-bottom: 27.5px;
			width: 100%;
			border-collapse: collapse;
			border-spacing: 0;
			display: block;
			th, td{
				text-align: left;
				border: 1px solid #ebebeb;
				padding: 10px 14px;
				font-size: 15px;
				color: #3a3a3a;
    			line-height: 1.5;
			}
		}
	}
	.myaccount__account-details{
		
		h2{
			font-size: 1.33333em;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			margin: 0 0 17.5px;
			font-weight: 700;
			line-height: 1.2;
			overflow-wrap: break-word;
			word-wrap: break-word;
		}
		.btn{
			    background-color: #002D72;
				color: #fff;
				font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.08em;
		}
	}
}
.btn--secondary {
    background-color: transparent;
    color: #3a3a3a;
    border-color: #3a3a3a;
}
.btn--small {
    padding: 8px 10px;
    font-size: 0.8em;
    line-height: 1;
	border-radius: 0;
}
.grid__item {
	float: left;
	padding-left: 30px;
	width: 100%;
}
.label{
	display: block;
    margin-bottom: 5px;
	cursor: pointer;
}
input:focus, textarea:focus, select:focus{
	outline: none;
	box-shadow: none;
}
.visually-hidden{
    position: absolute !important;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
.section-header{
	position: inherit;
	margin-bottom: 55px;
	text-align: center;
	h1{
		margin: 0 0 17.5px;
		font-style: normal;
		font-weight: 700;
		line-height: 1.2;
		overflow-wrap: break-word;
		word-wrap: break-word;
		font-size: 2.33333em;
		text-transform: none;
		letter-spacing: 0;
	}
	p{
		margin: 0 0 19.44444px;
		font-size: 15px;
		color: #3a3a3a;
		line-height: 1.5;
		a{
			color: #3a3a3a;
		}
		a:hover{
			color: #3a3a3a;
			text-decoration: none;
		}
	}
	.btn{
		background-color: #002D72;
		color: #fff;
		font-weight: 700;
		font-size: 13px;
		padding: 10px 18px;
		text-transform: uppercase;
		letter-spacing: 0.08em;
		border-radius: 0;
	}
}
.fill-address{
	padding: 40px 0;
	margin-bottom: 55px;
	#AddressNewForm{
		h2{
			margin: 0 0 17.5px;
			font-weight: 700;
			line-height: 1.2;
			overflow-wrap: break-word;
			word-wrap: break-word;
			font-size: 1.33333em;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			color: #3a3a3a;
		}
		.grid {
			list-style: none;
			margin: 0;
			padding: 0;
			margin-left: -30px;
		}
		label{
			font-size: 15px;
			font-weight: 400;
			color: #3a3a3a;
			line-height: 1.5;
		}
		input, textarea, select{
			border: 1px solid #ccc;
			color: #000;
			max-width: 100%;
			line-height: 1.2;
			border-radius: 2px;
			padding: 10px 18px;
			display: block;
			width: 100%;
			margin-bottom: 19.44444px;
			font-size: 15px;
			font-weight: 400;
			color: #3a3a3a;
			line-height: 1.5;
			background: #fff;
		}
		#address_default_address_new{
			display: inline-block;
			width: auto;
		}
		.address-new-toggle{
			display: inline;
			border: 0 none;
			background: none;
			padding: 0;
			margin: 0;
			font-size: 15px;
			font-weight: 400;
			color: #3a3a3a;
			line-height: 1.5;
			margin-bottom: 25px;
		}
		.btn{
			background-color: #002D72;
			color: #fff;
			font-weight: 700;
			font-size: 13px;
			padding: 10px 18px;
			text-transform: uppercase;
			letter-spacing: 0.08em;
			border-radius: 0;
			width: auto;
			border: none;
		}
		.btn:hover{
			color: #fff;
    		background-color: #002D72;
		}
	}
}
.order-table{
	border: 1px solid #ebebeb;
	th,td{
		    border: none !important;
	}
	a{
		border-bottom: 1px solid currentColor;
	}
	a:hover{
		color: #3a3a3a;
		    text-decoration: none;
	}
	thead{
		border-bottom: 1px solid #333232;
		th{
			font-size: 15px !important;
		}
	}
	tbody{
		tr{
			border-bottom: 1px solid #ebebeb;
		}
		tr:last-child{
			border-bottom: none;
		}
		th{
			font-weight: normal;
    		text-transform: none;
    		letter-spacing: 0;
			border: none !important;
		}
		td{
			border: none !important;
		}
	}
	tfoot{
		border-top: 1px solid #333232;
		tr:last-child{
			th,td{
				border-top: 1px solid #333232 !important;
				font-weight: 700;
				padding-top: 1.25em;
				padding-bottom: 1.25em;
				text-transform: uppercase;
			}
		}
		th{
			font-weight: normal;
    		text-transform: none;
    		letter-spacing: 0;
			border: none !important;
		}
		td{
			border: none !important;
		}
	}

}
.myaccount__account-details{
	h3{
		margin: 0 0 17.5px;
		font-weight: 700;
		line-height: 1.2;
		font-size: 1.73333em;
	}
	p{
		color: #333232;
    	margin: 0 0 19.44444px;
		font-size: 15px;
		font-weight: 400;
		color: #3a3a3a;
		line-height: 1.5;
	}
}

//contact page.........
.conatct-banner{
	min-height: 280px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #002d72;
	background-size: cover !important;
	h1{
		text-transform: uppercase;
		color: #fff;
		margin: 0;
		text-align: center;
		font-size: 48px;
		letter-spacing: .1em;
		color: #fff;
		font-weight: bold;
	}
}
.contact-info {
    display: block;
    clear: both;
    margin: 60px 10px;
    text-align: left;
    font-size: 14px;
	.contact-info__info{
		p{
			margin-bottom: 35px;
			font-size: 22px;
			line-height: 30px;
			a{
				color: #000;
    			text-decoration: none;
				font-weight: bold;
			}
		}
	}
	.contact-info__image{
		padding-left: 60px;
		img{
			width: 100%;
		}
	}
}
.contact-form-box{
	padding: 40px 0 30px;
    display: block;
    clear: both;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 90px;
    background: #f2f2f2;
    color: #000;
    overflow: hidden;
    .border-box{
      border: 1px solid #002D72;
      padding:20px;
    }
	.alert{
		font-size: 11px;
		line-height: 30px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	h2{
		display: block;
		font-size: 36px;
		text-transform: uppercase;
		color: #002D72;
	}
	span.label{
		display: inline-block;
    	font-size: 28px;
    	font-weight: 100;
    	color:#002D72;
		line-height: 36px;
		font-family: 'NeuzeitGroLig W01 Regular';
	}
	input, select{
		height: 43px;
		background: transparent;
		border: none;
		border-bottom: 2px dotted #002D72;
		margin: 0 5px;
		text-align: center;
		color: #002D72;
		    font-size: 28px;
    line-height: 32px;
	}
	.contact-form__column{
		margin-top: 12px;
		span.label{
			display: block !important;
		}
		textarea{
			width: 100%;
			padding: 10px;
			font-size: 20px;
			line-height: 26px;
			text-align: left;
			font-style:italic;
			color: #002D72;
		}
		.btn{
			background-color: #002D72;
			color: #fff;
			font-weight: 700;
			font-size: 13px;
			padding: 10px 18px;
			text-transform: uppercase;
			letter-spacing: 0.08em;
			border-radius: 0;
			border: none !important;
			width: 200px;
			text-align: center;
		}
	}
}
.blog-filter{
	display: block;
    overflow: hidden;
	.blog-filter__head{
		background: #fff;
		min-height: 50px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	.blog-filter__title{
		display: inline-block;
		padding: 2px 20px;
		line-height: 50px;
		text-align: left;
		font-size: 12px;
		font-weight: bold;
	}
	.left-breadcrumb{
		display: inline-block;
    	float: left;
	}
	li{
		padding: 5px 15px !important;
		float: right;
	}
	#filters {
		margin: 0 !important;
	}
	.filter{
		font-size: 10px;
		text-transform: uppercase;
		cursor: pointer;
		position: relative;
		letter-spacing: .1em;
		padding: 0 !important;
	}
	.filter:after{
		content: "";
		position: absolute;
		left: 0;
		right: 100%;
		top: 100%;
		background: #000;
		height: 1px;
		-webkit-transition: all ease-out .3s;
		transition: all ease-out .3s;
	}
	.filter:hover:after{
		right: 0;
	}
	.filter.active{
		color: #666 !important;
		background: transparent !important;
	}
	.filter.active:after{
		right: 0;
	}
	#portfoliolist{
		padding: 40px 20px;
	}
	.portfolio{
		margin: 0 !important;
		.content{
			display: block;
			padding: 10px 0 40px;
			clear: both;
			font-size: 15px;
			overflow: hidden;
			a{
				float: right;
				line-height: 20px;
				text-transform: uppercase;
				font-size: 14px;
				letter-spacing: .1em;
				width: 40%;
				text-align: right;
			}
			h2{
				float: left;
				height: 60px;
				max-width: 60%;
				line-height: 20px;
				font-size: 14px;
				text-align: left;
				a{
					font-size: 14px;
					clear: both;
					width: 100%;
					letter-spacing: .1em;
					display: inline-block;
					color: #000;
					text-align: left;
				}
				a:hover{
					color: #000;
					text-decoration: none;
				}
			}
		}
	}
	.portfolio:hover img {
		top: 0px;
	}
	.portfolio-wrapper{
		background: transparent !important;
		img{
			width: 100%;
		}
	}
	.blog-filter__header{
		border-bottom: 1px solid #ececec;
	}
}
.blog-inner-content{
	.post-view{
		padding: 40px 15px;
	}
}
.blog-inner__content{
	.h2{
		font-size: 36px;
		letter-spacing: .1em;
		display: block;
		padding: 20px 0;
		text-transform: uppercase;
		line-height: normal;
		color: #000;
	}
	p{
		padding: 0 0 18px;
		line-height: 20px;
		font-size: 15px;
		color: #000;
	}
	a{
		text-decoration: underline;
		color: #000;
	}
	a:hover{
		text-decoration: underline;
		color: #000;
	}
	img{
		width: 100%;
	}
}
.blog-inner-content__head{
	min-height: 50px;
	border-bottom: 1px solid #ececec;
	.pagination-box{
		float: right;
		.page-link{
			border: none;
			border-left: 1px solid #e6e6e6;
			display: inline-block;
			line-height: 50px;
			padding: 0 18px;
			border-left: 1px solid #ececec;
			font-size: 12px;
			text-transform: uppercase;
			color: #000;
			background: transparent;
		}
		.page-link:hover{
			background: transparent;
		}
	}
	.pagination{
	    background: transparent;
    	margin: 0;
	}
	.pagination li:first-child i{
		margin-right: 8px;
	}
	.pagination li:last-child i{
		margin-left: 8px;
	}
	left-breadcrumb{
		float: left !important;
	}
}
.left-breadcrumb{
	/*float: left;*/
	nav{
		display: inline-block;
	}
	.breadcrumb{
		background: transparent;
		margin: 0;
		font-family: 'NeuzeitGroLig W01 Regular';
		padding: .75rem 0.9rem;
		li{
			font-size: 12px;
			a{
				color: #000;
				text-decoration: none;
			}
			a:hover{
				color: #000;
			}
		}
		li:before{
			content: ">";
			padding-right: 15px;
		}
		li:first-child:before{
			display: none;
		}
	}
}
.social-link{
	li{
		a{
			border: 1px solid #002D72;
			color: #002D72;
			padding: 12px 20px;
			margin: 10px 0 0;
			display: block;
			width: 100%;
			max-width: 130px;
			border: 1px solid #000;
			text-align: left;
			font-size: 14px;
			-webkit-transition: all .5s ease-out;
			transition: all .5s ease-out;
			text-decoration: none;
			font-weight: bold;
			border-radius:5px;
			i{
				margin-right: 10px;
				width: 15px;
			}
		}
		a:hover{
			color: #fff;
			text-decoration: none;
		}
		.facebook:hover{
			background: #405899;
			border: 1px solid #405899;
		}
		.twitter:hover{
			background: #6BACE9;
			border: 1px solid #6BACE9;
		}
		.linkedin:hover{
			background: #3E77B0;
			border: 1px solid #3E77B0;
		}
		.pinterest:hover{
			background: #D3392F;
			border: 1px solid #D3392F;
		}
	}
}

// footer.......
footer{
	padding: 50px 0 20px 0;
	.newsletter{
		h6{
			text-align: left;
			font-weight: bold !important;
		}
		input{
			width: 100%;
		}
	}
	.follow-us{
		margin-left: -117px;
		text-align: center;
	}
	.newsletter input[type="email"] {
		border: 1px solid #002e70;
		color: #002d72;
	}
	.copy {
		font-weight: bold;
		font-size: 14px;
		padding-top: 25px;
		color: #002d72;
	}
	input::-webkit-input-placeholder{
		color: #002d72;
	}

	input:-ms-input-placeholder{
		color: #002d72;
	}

	input::placeholder{
		color: #002d72;
	}

	::placeholder {
		color: #002d72;
	}
	.newsletter{
		.kFvQW{
			padding: 0 16px 10px;
		}
	}
	.Button__FormStyledButton-p2mbjt-0{
		font-size: 14px !important;
	}
}
.slider_text_button{
	position: absolute;
	top: auto;
	width: 100%;
	bottom: 15%;
}

// About Us.......
.about-content{
	.left-breadcrumb{
		float: none;
	}
	.about-content__title{
		padding: 40px 0;
    	text-align: center;
		h2{
			margin: 0;
			font-size: 36px;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: .05em;
			line-height: 42px;
    		color: #000;
		}
	}
}
.media-content{
	padding: 40px 25px;
	.media-content__img{
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-size: cover !important;
		min-height:550px;
		img{
			width: 100%;
		}
	}
	.media-content__info{
		padding: 40px 15px;
		padding-left: 8.33333333%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		h3{
			font-size: 24px;
			font-weight: bold;
			margin-bottom: 40px;
			display: block;
			color: #000;
		}
		h4{
			font-size: 24px;
			font-weight: bold;
			margin-bottom: 15px;
			letter-spacing: .1em;
			margin-top: 30px;
			color: #000;
		}
		p{
			margin: 0 0 15px;
			padding: 0;
			font-size: 18px;
			line-height: 26px;
			color: #000;
		}
	}
}
.media-content--right{
	.media-content__img{
		order: 2;
	}
	.media-content__info{
		padding: 50px 15px;
    	padding-right: 8.33333333%;
	}
}
.media-column{
	display: block;
    overflow: hidden;
    padding: 40px 10px;
	.media-column__img{
		height: 500px;
		background-size: cover!important;
		width: 100%;
	}
}
.shopify-challenge__container{
	padding: 40px 0;
}
.about-content-block{
	color: #000;
	padding: 40px 25px;
	.about-content-block__title{
		font-size: 48px;
		font-weight: bold;
		letter-spacing: .1em;
		color: #000;
		text-align: left;
		margin-bottom: 35px;
	}
	img{
		display: inline;
		float: left;
		margin: 0 25px 25px 0;
	}
	p{
		margin: 0 0 15px;
		padding: 0;
		font-size: 18px;
		line-height: 26px;
		color: #000;
	}
	h2{
		font-size: 36px;
		font-weight: bold;
		margin: 0 0 15px;
		color: #000;
		letter-spacing: .1em;
	}
}
//content page.........
.content-page{
	color: #000;
	margin-top: 30px;
	padding: 0 10px;
	.content-page__info{
		padding: 40px 0;
		color: #000;
	}
	content-page__head{
		display: block;
    	overflow: hidden;
	}
	.content-page__title{
		font-size: 48px;
		font-weight: bold;
		margin: 0px 0 40px;
    	text-transform: uppercase;
		letter-spacing: .1em;
		color: #000;
		text-align: center;
	}
	.content-page__column{
		h2{
			font-size: 36px;
			font-weight: bold;
			color: #000;
			letter-spacing: .1em;
			margin-bottom: 15px;
		}
		h3{
			font-size: 24px;
			font-weight: bold;
			color: #000;
			margin-top: 25px;
			margin-bottom: 15px;
			letter-spacing: .1em;
		}
		p{
			margin: 0 0 12px;
			padding: 0;
			font-size: 18px;
			line-height: 26px;
			color: #000;
		}
		strong{
			font-weight: bold;
		}
		a{
			color: #002D72;
		}
		a:hover{
			color: #002D72;
			text-decoration: underline;
		}
		table td {
			padding: 15px 10px 0 15px;
			border: none;
			border: 1px solid #000;
		}
	}
}
.category-Product{
	padding: 7px 0 0;
	.category-Product__title{
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-size: cover;
		position: relative;
		h1{
			z-index: 1;
			color: #fff;
			font-size: 36px;
			font-weight: bold;
			width: 100%;
			text-align: center;
			text-transform: uppercase;
			margin: 0;
		}
	}
	.category-Product__title:after{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: 0.6;
		top: 0;
		left: 0;
		transition: opacity .6s ease;
	}
	.product {
		margin-bottom: 0;
		padding: 40px 0;
	}
	.category-Product-pro{
		padding-right: 0px;
    	padding-left: 0px; 
	}
	.category-Product-img{
		padding-right: 7px;
    	padding-left: 0px; 
	}
}
.category-Product--right{
	.category-Product-img{
		order: 2;
		padding-right: 0px;
    	padding-left: 7px; 
	}
}
.bootsellers-block{
	padding: 60px 0;
	.bootsellers-block__title{
		text-align: center;
		h2{
			font-size: 36px;
    		font-weight: bold;
			color: #000;
			letter-spacing: .1em;
			text-transform: uppercase;
			margin-bottom: 40px;
			text-align: center;
		}
	}
	.nav-tabs{
		margin-bottom: 10px;
		border-bottom: none;
		display:none;
		li{
			margin: 0 30px;
			font-size: 12px;
			text-transform: uppercase;
			margin-bottom: 10px;
			a{
				border: none;
				position: relative;
				padding: 0;
				font-weight:bold;
				color:#002D72;
			}
			a:before{
				content: "";
				position: absolute;
				left: 0;
				right: 100%;
				height: 1px;
				bottom: -5px;
				background-color: #352b1f;
				-webkit-transition: all .3s ease-in-out;
				-o-transition: all .3s ease-in-out;
			}
			a.active{
				padding: 0;
				opacity: 1;
				font-weight:bold;
				color:#002D72;
			}
			a.active:before{
				right: 0;
				-webkit-transition: all .3s ease-in-out;
				-o-transition: all .3s ease-in-out;
			}
			a:hover{
				padding: 0;
				color: #002D72;
			}
			a:hover:before{
				background-color: #002D72;
				right: 0;
				-webkit-transition: all .3s ease-in-out;
				-o-transition: all .3s ease-in-out;
			}
		}
	}
	.card-header{
		display: none;
	}
	.slick-slider{
		margin-left: 45px;
    	margin-right: 45px;
	}
	

	// Arrows 
	.slick-prev,
	.slick-next{
		font-size: 0;
		line-height: 0;
		position: absolute;
		top: 50%;
		display: block;
		width: 44px;
    	height: 86px;
		padding: 0;
		-webkit-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
		transform: translate(0, -50%);
		cursor: pointer;
		color: transparent;
		border: none;
		outline: none;
		background: transparent;
	}
	.slick-prev:hover,
	.slick-prev:focus,
	.slick-next:hover,
	.slick-next:focus{
		color: transparent;
		outline: none;
		background: transparent;
	}
	.slick-prev:hover:before,
	.slick-prev:focus:before,
	.slick-next:hover:before,
	.slick-next:focus:before{
		opacity: 1;
	}
	.slick-prev.slick-disabled:before,
	.slick-next.slick-disabled:before{
		opacity: .25;
	}
	.slick-prev:before,
	.slick-next:before{
		font-family: 'slick';
		font-size: 20px;
		line-height: 1;
		content: '';
		opacity: .75;
		color: white;
		background-image: url('../assets/carousel-arrows.png');
		width: 44px;
		height: 86px;
		background-size: cover;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		display: block;
	}
	.slick-prev{
		left: -45px;
	}
	[dir='rtl'] .slick-prev{
		right: -45px;
		left: auto;
	}
	.slick-prev:before{
		background-position: top;
	}
	[dir='rtl'] .slick-prev:before{
		background-position: top;
	}
	.slick-next{
		right: -45px;
	}
	[dir='rtl'] .slick-next{
		right: auto;
		left: -45px;
	}
	.slick-next:before{
		background-position: bottom;
	}
	[dir='rtl'] .slick-next:before{
		background-position: bottom;
	}

	.card{
		border: none;
		border-radius: 0;
	}
	.card-header{
		background: transparent;
		border-bottom: 2px solid #002d72;
		padding: 0;
		a{
			display: flex;
			align-items: center;
			position: relative;
			color: #002d72;
		}
		a:hover{
			color: #002d72;
			text-decoration: none;
		}
		h5{
			padding: 0 20px;
			line-height: 45px;
			color: #002d72;
			border: 0!important;
			text-transform: uppercase;
			font-size: 16px;
		}
		i{
			font-size: 20px;
			color: #002d72;
			position: absolute;
			right: 0;
			transform: rotate(-90deg);
		}
		.collapsed{
			i{
				transform: rotate(0deg);
			}
		}
	}
	.collapse{
		margin-top: 20px;
	}
}
.product:focus, .product .product__image:focus, .product .product__title:focus, .product .product__price:focus, .product .price:focus, .product img:focus{
	outline: none;
	box-shadow: none;
}
.product:focus{
	outline: none;
	box-shadow: none;
}
.mb-top-layered-navigation.m-topmenu.m-wide{

}
//cart...............
.qimify-minicart-siderbar{
	.qimify-minicart-header{
		height: 45px !important;
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: center;
		color: #002d72 !important;
		font-weight: bold;
		border-bottom: 1px solid #002d72 !important;
		.qimify-minicart-cart{
			top: auto !important;
			a{
				color: #002d72 !important;
			}
		}
		.qimify-minicart-close{
			top: auto !important;
			a{
				color: #002d72 !important;
			}
		}
	}
	.qimify-minicart-body{
		padding: 10px 0 !important;
		box-shadow: none !important;
		border-bottom: 2px solid #002d72;
		height: calc(100% - 161px) !important;
    	box-shadow: none !important;
	}
	.qimify-minicart-item{
		padding: 12px;
		margin-bottom: 0;
	}
	.qimify-minicart-promotion-bar{
		display: none;
	}
	.qimify-minicart-footer{
		padding: 0 !important;
		.qimify-minicart-row{
			margin-bottom: 0!important;
    		padding: 20px;
			border-bottom: 2px solid #002d72;
		}
		.qimify-minicart-cart-total{
			text-align: left!important;
    		float: none!important;
			font-size: 18px;
			text-transform: uppercase;
			font-weight: bold;
			color: #000;
			letter-spacing: .1em;
			span{
				float: right;
				display: flex;
				height: 100%;
				align-items: center;
				color: #000;
			}
		}
	}
	.qimify-minicart-viewcart{
		background-color: #82bc23 !important;
		padding: 12px 20px !important;
		height: 52px;
		margin-bottom: 0 !important;
		display: flex;
		align-items: center;
		justify-content: center;
		letter-spacing: .1em;
		font-size: 12px;
		font-weight: bold;
		color: #fff;
	}
	.qimify-minicart-qimify-brand{
		display: none;
	}
	.qimify-minicart-continueshopping{
		display: none;
	}
}
// 404..........
.error-page{
	padding: 60px 20px;
	text-align: center;
	h1{
		font-size: 48px;
		text-transform: uppercase;
		letter-spacing: 0;
		color: #002d72;
		margin-bottom: 40px;
	}
	p{
		margin: 0 0 15px;
		padding: 0;
		font-size: 18px;
		line-height: 26px;
		color: #000;
	}
	h2{
		font-size: 34px;
		text-transform: uppercase;
		letter-spacing: 0;
		color: #002d72;
		margin: 16px 0 8px;
	}
	ul{
		li{
			margin: 0 0 5px;
			padding: 0;
			font-size: 18px;
			line-height: 26px;
			color: #002d72;
			a{
				color: #002d72;
			}
			a:before{
				content: "";
				width: 35px;
				height: 1px;
				margin-right: 10px;
				background: #002d72;
				display: inline-block;
				vertical-align: middle;
			}
			a:hover{
				text-decoration: none;
				color: #002d72;
			}
		}
	}
}
.faq-page{
	.conatct-banner{
	  h1{
		text-transform: inherit;
	  }
	}
	.faq-tab{
		a{
			width: 100%;
			display: block;
			text-align: left;
			clear: both;
			padding: 15px;
			margin-bottom: 5px;
			background: #f4f4f4;
			text-transform: uppercase;
			font-size: 12px;
			cursor: pointer;
			font-weight: bold;
			i{
				float: right;
    			font-size: 16px;
			}
		}
		a:hover{
			background: #002d72;
			color: #fff;
			text-decoration: none;
		}
	}
	.fax-content-tab{
		padding: 40px 0;
	}
	.faq-content{
		dt{
			h2{
				margin-bottom: 30px;
				line-height: 60px;
				font-size: 23px;
				text-transform: uppercase;
				letter-spacing: .05em;
				color: #000;
				font-weight: bold;
			}
		}
		dd{
			.faq-que{
				margin: 0 0 25px;
				padding: 0;
				font-size: 18px;
				line-height: 26px;
				color: #000;
				display: block;
			}
			.faq-que:before{
				content: "Q:";
    			font-size: 22px;
				color: #000;
				font-weight: bold;
				margin-right: 10px;
			}
			.faq-ans{
				margin: 0 25px 25px 25px;
				padding: 0;
				font-size: 18px;
				line-height: 26px;
				color: #000;
				p{
					margin-bottom: 20px;
				}
				ul{
					margin: 0px 0 20px;
				}
				strong{
					display: block;
					margin-top: 20px;
					font-weight: 500;
				}
			}
			.faq-ans:before{
				content: "A:";
    			font-size: 22px;
				color: #000;
				font-weight: bold;
				margin-right: 10px;
			}
		}
	}
}
.qimify-minicart-popup-wrapper .qimify-minicart-header .qimify-minicart-cart{ display:none}
.qimify-minicart-header{color: #002d72 !important;}
.qimify-minicart-popup-wrapper .qimify-minicart-header .qimify-minicart-close{ color: #002d72 !important; }
.who_we_are .home-about .img-box{
	text-align:center;
}
.who_we_are .home-about .img-box img{
  display:inline-block;
}

.who_we_are .home-about a.read-more {
    font-weight: bold;
	i{
		margin-right: 10px;
	}
}
.who_we_are .home-about a.read-more:before{
	display: none;
}
.menu>li>a:hover {
    text-decoration: none;
}
.menu-mobile>li a:hover {
	text-decoration: none;
}
.search-title{
	    font-size: 36px;
}
.image-item{
	height: 625px;
}
.image-row-3 .image-item{
	height: 925px;
}
.blog-inner-content .left-breadcrumb{
	    float: left;
}
.newsletter .klaviyo-form .kgtZbf {
		.needsclick{
			padding: 0 0 15px;
		}
		.bQDdTc{
			padding: 0 0;
		}
}
.newsletter .klaviyo-form{
	.icZWwF{
		padding-bottom: 0 !important;
	}
	input{
		margin-bottom: 0px;
	}
}
.left-breadcrumb .breadcrumb li:before {
    padding-right: 0.7em;
}
.left-breadcrumb .breadcrumb li {
    padding-left: 0.7rem;
}

@media screen and (min-width: 992px){
	.filter-menu.navbar-expand-lg .navbar-collapse{
		display: inline-flex !important;
	}  


	.navbar.filter-menu{
		letter-spacing: 0.1em;
		li.dropdown:hover{
			border: 1px solid #e6e6e6;
			border-bottom: 1px solid #fff;
			ul.dropdown-menu{ 
				display: block;
				border: 1px solid #e6e6e6; 
			}
		}
	}
	.myaccount__order-history {
		-webkit-flex: 1 0 66.66667%;
		-moz-flex: 1 0 66.66667%;
		-ms-flex: 1 0 66.66667%;
		flex: 1 0 66.66667%;
	}
	.myaccount__account-details {
		-webkit-flex: 1 0 33.33333%;
		-moz-flex: 1 0 33.33333%;
		-ms-flex: 1 0 33.33333%;
		flex: 1 0 33.33333%;
	}
	
}



@media screen and (max-width: 1200px){
	.product-details .nav-tabs li {
		margin-right: 20px;
	}
	.product-details .product-details__title {
		font-size: 18px;
		line-height: 26px;
		width: calc(100% - 170px);
	}
	.product-details .price {
		font-size: 18px;
		line-height: 26px;
		width: 170px;
	}
	.contact-info__image{
		padding-left: 0px !important;
	}
	.menu>li>a{
    	padding: 0 16px;
	}
}
@media screen and (max-width: 991px){
	.product-collection__heading{
		width: 100% !important;
	}
	.navbar.filter-menu{
		display: block !important;
		padding: 5px;
		ul.navbar-nav{
			li.dropdown{
				border: 1px solid #fff;
			}
			li.dropdown.show{
				border: 1px solid #fff;
				border-bottom: 1px solid #fff;
			}
			li.dropdown:hover{
				border: 1px solid #fff;
				border-bottom: 1px solid #fff;
				ul.dropdown-menu{ 
					border: 1px solid #fff; 
				}
			}
		}
	}
	.navbar-head{
		display: flex !important;
		align-items: center;
		justify-content: center;
		text-align: center;
		border-top: 1px solid #193572;
		border-bottom: 1px solid #193572;
		padding: 0 0 0 12px;
		letter-spacing: .1em;
		.navbar-toggler{
			display: flex !important;
		}
	}
	.navbar.filter-menu .navbar-brand {
		width: calc(100% - 40px);
		text-align: left;
		margin-bottom: 0;
		color: #193572;
		letter-spacing: .1em;
		letter-spacing: 0.1em;
	}
	.navbar.filter-menu .nav-link {
		padding: 8px 15px; 
		border-bottom: 1px solid #e6e6e6;
		position: relative;
		letter-spacing: .1em;
		letter-spacing: 0.1em;
	}
	.navbar.filter-menu .nav-link i{
		    position: absolute;
    		right: 15px;
	}
	
	.navbar.filter-menu .navbar-toggler{
      width:100%;
    }
	
	.product-details .product-details__title {
		font-size: 30px;
		line-height: 36px;
		width: calc(100% - 170px);
		letter-spacing: .1em;
	}
	.product-details .price {
		font-size: 30px;
		line-height: 36px;
		width: 170px;
	}
	.filter-menu ul li a.nav-link:after{
	    position: absolute;
	    content: "+";
	    font-size: 25px;
	    color: #193572;
	    width: 20px;
	    top: -2px;
	    right: 0;
	    display:block;
	}


	.navbar.filter-menu{
		.dropdown{
			.nav-linkn:after{
				content: "+";
				font-size: 30px;
				color: #193572;
				width: 20px;
				border: none;
				display: block;
			}
		}
		.dropdown.show{
			.nav-link:after{
				content: "-";
				font-size: 38px;
				color: #193572;
				line-height: 30px;
				width: 20px;
			}
		}
	}
	.grid__item {
		float: left;
		padding-left: 0px;
	}
	.fill-address #AddressNewForm .grid {
		margin-left: 0;
	}
	.blog-filter .blog-filter__head {
    	justify-content: center;
	}
	.left-breadcrumb {
		float: none;
	}
	.pagination-box{
		display: none;
	}
	.conatct-banner h1 {
		text-transform: uppercase;
		color: #fff;
		margin: 0;
		text-align: center;
		font-size: 36px;
	}
	footer{
		padding: 50px 22px;
		.newsletter{
			h6{
				text-align: center;
				font-size: 14px;
			}
		}
	}
	.about-content .about-content__title {
    	padding: 25px 0;
	}
	.media-content {
		padding: 30px 10px;
	}
	.media-content .media-content__info {
		padding: 40px 15px 0;
	}
	.media-column {
    	padding: 30px 10px;
	}
	.media-content--right .media-content__info {
		padding: 0px 15px 40px;
	}
	.about-content-block {
		padding: 30px 10px;
	}
	.about-content-block .about-content-block__title {
    	font-size: 28px;
	}
	.about-content-block h2 {
    	font-size: 30px;
	}
	.content-page__title{
		font-size: 28px !important;
	}
	.content-page .content-page__column h2 {
    	font-size: 30px;
	}
	.content-page {
    	margin-top: 10px;
	}
	.category-Product .category-Product__title{
		height: 350px;
	}
	.category-Product--right .category-Product-img {
		order: 0;
	}
	.login-template .login-template__column {
		height: auto;
		margin: 15px 0;
	}
	.plus-button::after, .plus-button::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #002D72;
		width: 4px;
		height: 16px;
		transition: transform .2s ease;
	}
	.plus-button::before {
		transform: rotate(90deg) translate(-8px, 2px);
	}
	.mobile-search-form button img {
		filter: brightness(0) invert(1);
		height: 15px;
	}
	.media-column .media-column__img {
    	height: 200px;
	}
	.media-content .media-content__img {
		height: 500px;
		margin: 0 15px;
	}
	.category-Product .category-Product-img {
		padding-right: 0;
		padding-left: 0;
	}
	.product .product__image {
    	height: 200px;
		img{
			max-height: 200px;
		}
	}
	.basket{
		padding-right: 9px;
    	padding-left: 9px;
		.cart-button span {
    		font-size: 10px;
		}
		.g-icon {
		    left: 4px;
		}
	}
	.navigation a {
		color: #fff;
	}
	.parent-link:before, .parent-link:after {
		background-color: #fff;
	}
	.row_diff_height {
		background-color: #002D72;
	}

	#header{
		position: fixed;
		top:0;
		right:0;
		left:0;
	}
	#header.scroll{
		    position: fixed;
	}
	.menu-mobile{
		margin-bottom: 0;
	}
	.index-template #shopify-section-header{
		padding-bottom: 0;
	}
	footer{
		.ResetElements__Div-sc-8e6zl9-0{
			justify-content: center;
    		align-items: center;
			input{
				width: 100% !important;
				margin-bottom: 0 !important;
			}
		}
	}
	#header .row_diff_height{
	    overflow: hidden;
	}
	.announcment_bar {
		border-bottom: none;
	}
	.scroll .announce {
		height: auto;
	}
	
	#header.scroll {
		position: fixed;
		top: 0;
		padding: 0;
	}
	
	#header {
    	    /*position: inherit;*/
		padding: 0;
	}
	#header #header-menu{
    	padding: 0 15px;
	}
	#header #header-menu .search_login_cart{
		padding-right: 15px;
	}
	.newsletter .klaviyo-form .ql-editor{
		text-align: center !important;
	} 
	.newsletter .klaviyo-form .kgtZbf {
		input{
			margin: 0 auto;
		}
		.needsclick{
			margin: 0 auto;
		}
	}
	.blog-inner-content__head {
		min-height: 42px;
	}
	body {
		padding-top: 109px;
	}
	
}

@media(min-width:768px) {
	.product-details{
		.nav-tabs {
			display: flex;
		}
		.card {
			border: none;
		}
		.card .card-header {
			display:none;
		}  
		.card .collapse{
			display:block;
		}
	}
	.bootsellers-block{
		.nav-tabs {
			display: flex;
		}
		
		.card {
			border: none;
		}

		.card .card-header {
			display:none;
		}  

		.card .collapse{
			display:block;
		}
	}
	.blog-filter li {
		padding: 5px 8px !important;
	}
}


@media screen and (min-width: 767px){
	.medium-up--one-half {
		width: 50%;
	}
	.order-table tbody tr th, .order-table tbody tr td {
		padding-top: 1.25em !important;
		padding-bottom: 1.25em !important;
	}
	.order-table thead th {
		text-transform: uppercase !important;
		padding-top: 1.25em !important;
		padding-bottom: 1.25em !important;
	}
}

@media screen and (max-width: 767px){
    .navbar.filter-menu .navbar-toggler{
      width:100%;
    }
	.product-collection .product-collection__title {
		margin-bottom: 25px;
		font-size: 28px;
	}
	.product-details .product-details__heading {
		padding-bottom: 25px;
		display: block !important;
	}
	.product-details .product-details__title {
		width: 100%;
		margin-bottom: 10px;
	}
	.product-details .price {
		width: 100%;
		text-align: left;
	}
	
	.product-details .slider-nav {
    	width: 100%;
	}
	.product-details .product-details__part {
		align-items: flex-start;
		flex-direction: column;
	}
	.product-details .cart-btn {
		width: 100%;
		margin-top: 15px;
	}
	.product-details .tab-content > .tab-pane {
        display: block !important;
        opacity: 1;
    }
	.product-details {
		.tab-content{
			border-top: 1px solid #ccc;
			.card {
				border: none;
				background-color: transparent;
				.card-header {
					background: transparent;
					border-bottom: 1px solid #ccc;
					padding: 10px 5px;
					h5{
						font-size: 18px;
						color: #000;
						line-height: 24px;
						font-weight: 100;
    					text-transform: capitalize;
						a{
							text-decoration: none;
							color: #000;
							display: block;
							position: relative;
						}
						a:after{
							content: "";
							display: block;
							width: 17px;
							height: 17px;
							position: absolute;
							right: 10px;
							top: 5px;
							background: url(dt_arrows.png) no-repeat 0 -17px;
							background-position: 0 0;
						}
						a.collapsed:after{
							content: "";
							display: block;
							width: 17px;
							height: 17px;
							position: absolute;
							right: 10px;
							top: 5px;
							background: url(dt_arrows.png) no-repeat 0 -17px;
						}
					}
				}
				.card-body {
					padding: 20px 8px;
				}
			}
		}
		
	}
	#AddToCartForm .product-details__part:last-child{
		border-bottom: none;
	}
	.product-details .product-details__tabs {
		padding: 30px 12px 30px;
		margin-bottom: 40px;
	}
	.page-width {
		padding-left: 22px;
		padding-right: 22px;
	}
	.myaccount__order-history thead {
	    width: 100%;
		display: none;
		overflow: hidden;
		tr{
			width: 100%;
    		display: block;
		}
	}
	.myaccount__order-history tbody {
	    width: 100%;
		display: block;
		overflow: hidden;
		tr{
			width: 100%;
    		display: block;
		}
	}
	.myaccount__order-history tfoot {
	    width: 100%;
		display: block;
		overflow: hidden;
		tr{
			width: 100%;
    		display: block;
		}
	}
	.responsive-table th, .responsive-table td {
		float: left;
		clear: left;
		width: 100%;
		text-align: right !important;
		padding: 27.5px 0 !important;
		border: none !important;
		margin: 0 !important;
	}
	.responsive-table th::before, .responsive-table td::before {
		content: attr(data-label);
		float: left;
		text-align: center;
		font-size: 12px;
		padding-right: 10px;
		font-weight: normal;
	}
	.order-table thead {
		display: none;
	}
	
	.order-table__product {
		display: flex;
		justify-content: space-between;
	}
	.order-table tbody th::before, .order-table tbody td::before {
		content: attr(data-label);
		float: left;
		text-align: left;
		padding-right: 2em;
		max-width: 80%;
	}
	.order-table tbody th::before, .order-table tbody td::before {
		font-weight: 700;
	}
	.order-table tbody tr {
		display: block;
	}
	.myaccount .myaccount__order-history table th, .myaccount .myaccount__order-history table td {
		width: 100%;
		display: block;
		overflow: hidden;
	}
	.order-table tfoot tr{
		display: flex;
	}
	.order-table {
		border: none;
	}
	.blog-filter .blog-filter__head {
		display: block;
		flex-direction: column;
    	padding-bottom: 15px;
	}
	.blog-filter #filters{
		padding: 0 7px;
	}
	.bootsellers-block .tab-content > .tab-pane {
        display: block !important;
        opacity: 1;
    }
	.bootsellers-block .card-header {
		display: block;
	}
	.bootsellers-block .card:first-child {
		border-top: 2px solid #002d72;
	}
	.contact-form-box input, .contact-form-box select {
		margin: 0;
		width: 100%;
	}
	.contact-form-box {
    	padding: 40px 15px 30px;
	}
	.contact-form-box span.label {
		display: block;
		margin-bottom: 0;
	}
	.contact-form-box h2 {
		margin-bottom: 15px;
	}
	.contact-form-box .contact-form__column span.label {
	    margin-bottom: 10px!important;
	}
	.product .product__image {
    	height: 160px;
		img{
			max-height: 160px;
		}
	}
	.product .product__title {
		margin-bottom: 15px;
		min-height: 36px;
	}
	.login-template .login-template__column {
		padding: 30px 25px;
	}
	.image-row-2 .image-item{
		padding: 3px 0!important;
	}
	.mobile-slider{
		display: flex;
		height: 200px;
		align-items: center;
		justify-content: center;
		padding: 50px 20px;
		background-size: cover;
		text-decoration: none;
		h2{
			font-size: 34px;
			text-align: center;
			color: #fff;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: .1em;
			text-decoration: none;
		}
	}
	.mobile-slider:hover{
		text-decoration: none;
		h2{
			color: #fff;
			text-decoration: none;
		}
	}
	.image-item span {
	    font-size: 34px;
	}
	.category-Product .category-Product__title h1 {
  	  	font-size: 34px;
			letter-spacing: 0.1em;
	}
	#slider_container{
		display: none;
	}
	.product-form__controls-group{
		.selector-wrapper{
			width: 100%;
			select{
				width: 100%;
			}
		}
	}
	.image-item {
	    height: 535px;
	}
	.image-row-2 .image-item{
		height: 250px;
	}
	.image-row-2 .image-item span{
		top: 50%;
	}
	.mobile-slider {
	    height: 250px;
		padding: 50px 10px;
	}
	.image-row-wrapper {
	    padding-top: 3px;
	}
	.category-Product {
		padding: 0 0 7px;
	}
	.product-details {
		padding: 0 0 40px;
		.left-breadcrumb{
			    margin-bottom: 25px;
		}
	}
	.image-row-3 .image-item {
		height: 525px;
	}
	.blog-filter .left-breadcrumb {
		float: none;
	}
	.blog-inner-content .left-breadcrumb{
	    float: none;
	}
	.blog-filter li {
		padding: 5px 15px !important;
	}
	.blog-filter li.breadcrumb-item{
		padding: 0 0 0 0.7em !important;
	}
	.blog-filter .blog-filter__title {
		padding: 2px 22px;
		line-height: 30px;
	}
	.product-details .product-details__tabs .tab-pane .data-table th {
    	width: 145px;
	}
	.product-details .product-details__tabs .tab-pane .data-table td {
    	padding: 5px 5px;
	}
}
#out-stock{
	margin-left: 115px;
    padding: 5px 0;
    color:#002D72;
}