<div class="error-page">
    <h1>WHOOPS.<br/>
PAGE NOT FOUND.</h1>
    <p>We're sorry, we cannot find the page you're looking for.</p>
    <h2>Click below to:</h2>
    <ul>
        <li><a title="" href="{{ page.url }}">Continue Shopping</a></li>
        <li><a title="" href="/">Back To Homepage</a></li>
        <li><a title="" href="{{ page.url }}" class="open-search">Use our Search to find the page you are looking for</a></li>
        <li><a title="" href="/pages/contact-us">Contact us</a></li>
    </ul>
</div>