<div class="content-page">
    
    <div class="content-page__head">
        <div class="left-breadcrumb">
          {% include 'breadcumb' %}
        </div>
    </div>
    <div class="container">
        <div class="content-page__info">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="content-page__title">{{ page.title }}</h1>
                    <div class="content-page__column">{{ page.content }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
