<div class="product-details">
<div class="left-breadcrumb">
       {% include 'breadcumb' %}
    </div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="row">
          <div class="col-lg-6">
            <div class="product-details__image d-none d-lg-block">
               {% include 'product-gallery' %}
            </div>
          </div>
          <div class="col-lg-5 offset-lg-1">
            <div class="product-details__content">

              <div class="product-details__heading">
                <h1 class="product-details__title">{{ product.title }}</h1>
                {%- comment -%}
                Prices
                {%- endcomment -%}
                <div class="product__price ">
                  {% include 'product-price', variant: current_variant, show_vendor: section.settings.show_vendor %}
               </div>
              </div>

              <div class="product-details__image d-lg-none">
               {% include 'product-gallery' %}
              </div>

              <div class="product-details__info">{{ product.description }}</div>
              <form action="/cart/add" method="post" enctype="multipart/form-data" id="add-to-cart-{{ product.handle }}">

                <div class="product-details__part" {% if product.variants.size == 1 %} style="display: none;"{% endif %}>
                    <div class="product-form__controls-group">
                      {% for option in product.options_with_values %}
                        <div class="selector-wrapper js product-form__item">
                          <label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">
                            {{ option.name }}
                          </label>
                          <select name="id" id="variant-select" class="single-option-selector somin single-option-selector-{{ section.id }} product-form__input"
                            id="variant-select">
                            {% for variant in product.variants %}
                              {% if variant.available %}
                                <option value="{{ variant.id }}">
                                  {{ variant.title }} - {{ variant.price | money_with_currency }}
                                </option>
                              {% else %}
                                <option disabled="disabled">
                                  {{ variant.title }} - sold out
                                </option>
                              {% endif %}
                            {% endfor %}
                          </select>
                        </div>
                      {% endfor %}
                      <div id="out-stock"></div>
                    </div>
                </div>
                
                <div class="product-details__part">
                  <div class="quantity-block">
                  <label for="Quantity" class="label">QTY :</label>
                    <div class="quantity-arrow-minus" id="sub"></div>
                    <input class="quantity-num" type="text" id="Quantity" name="quantity" value="1" min="1" onkeypress="return isNumber(event)"/>
                    <div class="quantity-arrow-plus" id="add"></div>
                  </div>
                  <button type="submit" name="add" id="AddToCart" class="cart-btn js-ajax-add-to-cart">Add to cart</button>               
                </div>
              </form>

              <div class="product-details__tabs">
                <ul id="tabs" class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a id="tab-A" href="#pane-A" class="nav-link active" data-toggle="tab" role="tab">description</a>
                    </li>
                    <li class="nav-item">
                        <a id="tab-B" href="#pane-B" class="nav-link" data-toggle="tab" role="tab">delivery</a>
                    </li>
                    <li class="nav-item">
                        <a id="tab-C" href="#pane-C" class="nav-link" data-toggle="tab" role="tab">size guide</a>
                    </li>
                    <li class="nav-item">
                        <a id="tab-d" href="#pane-d" class="nav-link" data-toggle="tab" role="tab">Boot Care</a>
                    </li>
                </ul>


                <div id="content" class="tab-content" role="tablist">
                    <div id="pane-A" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-A">
                        <div class="card-header" role="tab" id="heading-A">
                            <h5 class="mb-0">
                                <!-- Note: `data-parent` removed from here -->
                                <a data-toggle="collapse" href="#collapse-A" aria-expanded="true" class="collapsed" aria-controls="collapse-A">
                                    description
                                </a>
                            </h5>
                        </div>

                        <!-- Note: New place of `data-parent` -->
                        <div id="collapse-A" class="collapse " data-parent="#content" role="tabpanel" aria-labelledby="heading-A">
                            <div class="card-body">
                                
                                <h5>Description</h5>
                                <div>
                                  <table class="data-table">
                                    <tbody>
                                   
                                    {% unless product.metafields.Model.model == blank %}
                                     <tr class="first odd">
                                      <th class="label">Model</th>
                                      <td class="data last">{{ product.metafields.Model.model }}</td>
                                     </tr>
                                    {% endunless %}
                                    {% unless product.metafields.Gender.gender == blank %}
                                    <tr class="even">
                                      <th class="label">Gender</th>
                                      <td class="data last">{{ product.metafields.Gender.gender }}</td>
                                    </tr>
                                    {% endunless %}
                                    {% unless product.metafields.Colour.colour == blank %}
                                    <tr class="odd">
                                      <th class="label">Colour</th>
                                      <td class="data last">{{ product.metafields.Colour.colour }}</td>
                                    </tr>
                                    {% endunless %}
                                    {% unless product.metafields.Material.material == blank %}
                                    <tr class="even">
                                      <th class="label">Upper Material</th>
                                      <td class="data last">{{ product.metafields.Material.material }}</td>
                                    </tr>
                                    {% endunless %}
                                    {% unless product.metafields.Fastening.type == blank %}
                                    <tr class="odd">
                                      <th class="label">Fastening Type</th>
                                      <td class="data last">{{ product.metafields.Fastening.type }}</td>
                                    </tr>
                                    {% endunless %}

                                    {% unless product.metafields.Weather.proofing == blank %}
                                    <tr class="odd">
                                      <th class="label">Weather Proofing</th>
                                      <td class="data last">{{ product.metafields.Weather.proofing }}</td>
                                    </tr>
                                    {% endunless %}

                                    {% unless product.metafields.Lining.material == blank %}
                                    <tr class="odd">
                                      <th class="label">Lining Material</th>
                                      <td class="data last">{{ product.metafields.Lining.material }}</td>
                                    </tr>
                                    {% endunless %}

                                    {% unless product.metafields.Insole.insole == blank %}
                                    <tr class="odd">
                                      <th class="label">Insole</th>
                                      <td class="data last">{{ product.metafields.Insole.insole }}</td>
                                    </tr>
                                    {% endunless %}

                                    {% unless product.metafields.Series.series == blank %}
                                    <tr class="odd">
                                      <th class="label">Series</th>
                                      <td class="data last">{{ product.metafields.Series.series }}</td>
                                    </tr>
                                    {% endunless %}

                                    {% unless product.metafields.Sole.unit == blank %}
                                    <tr class="odd">
                                      <th class="label">Sole Unit</th>
                                      <td class="data last">{{ product.metafields.Sole.unit }}</td>
                                    </tr>
                                    {% endunless %}

                                    {% unless product.metafields.Sole.material == blank %}
                                    <tr class="odd">
                                      <th class="label">Sole Material</th>
                                      <td class="data last">{{ product.metafields.Sole.material }}</td>
                                    </tr>
                                    {% endunless %}

                                    </tbody>
                                  </table>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div id="pane-B" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
                        <div class="card-header" role="tab" id="heading-B">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapse-B" aria-expanded="false" aria-controls="collapse-B">
                                    delivery
                                </a>
                            </h5>
                        </div>
                        <div id="collapse-B" class="collapse" data-parent="#content" role="tabpanel" aria-labelledby="heading-B">
                            <div class="card-body" style="text-align:center;">
                                <h5>Delivery</h5>
                                 {% unless product.metafields.Delivery.delivery == blank %}
                                    {{ product.metafields.Delivery.delivery }}
                                 {% endunless %}
                            </div>
                        </div>
                    </div>

                    <div id="pane-C" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-C">
                        <div class="card-header" role="tab" id="heading-C">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapse-C" aria-expanded="false" aria-controls="collapse-C">
                                    size guide
                                </a>
                            </h5>
                        </div>
                        <div id="collapse-C" class="collapse" role="tabpanel" data-parent="#content" aria-labelledby="heading-C">
                            <div class="card-body">
                                <h5>Size Guide</h5>
                                <div>
                                {% unless product.metafields.Size.guide == blank %}
                                    {{ product.metafields.Size.guide }}
                                 {% endunless %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="pane-d" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-d">
                        <div class="card-header" role="tab" id="heading-d">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapse-d" aria-expanded="false" aria-controls="collapse-d">
                                    Boot Care
                                </a>
                            </h5>
                        </div>
                        <div id="collapse-d" class="collapse" role="tabpanel" data-parent="#content" aria-labelledby="heading-d">
                            <div class="card-body">
                                 {% section 'boot-care' %}
                                 {% section 'cleaning-leather' %}
                                 {% section 'cleaning-canvas' %}
                                 {% section 'cleaning-suede' %}
                                 {% section 'extra-tips' %}
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>