{% paginate search.results by 9 %}
<div class="product-collection search-page">
{% if search.performed %}
  <div class="container-fluid">
    <div class="collection-filter">
     <h2 class="search-title">{{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}</h2>
    </div>
    <div class="all-products">
      <div class="row" id="AjaxinateContainer">
        {% for item in search.results %}
        <div class="col-6 col-sm-4">
          <div class="product">
            <a href="{{ item.url | within: collection }}" class="product__image">
              <img src="{{ item.featured_image.src | img_url: '500x' }}" alt="{{ item.featured_image.alt | escape }}">
            </a>
            <span class="product__title"><a href="{{ item.url | within: collection }}">{{ item.title }}</a></span>
            <div class="product__price">
              <span class="price">{{ item.price | money }}</span>
            </div>
          </div>
        </div>
        {% else %}
          <p>{{ 'general.search.no_results_html' | t: link: routes.root_url }}</p>
        {% endfor %}
        
       </div>
       <div id="AjaxinatePagination">
        {% if paginate.next %}
          <a href="{{ paginate.next.url }}" class="product-collection__load-button">Show More</a>
        {% endif %}
      </div>
  </div>
  {% endif %}
 </div>
{% endpaginate %}